<meta charset="utf-8">
<div style="display:block;width:800px;margin:0px auto;background:#EEE;border:1px solid #E1e1e1;font-family: serif;font-size:14px;color:#333">
	<div style="background:#eee;padding:15px;overflow:hidden;border-bottom:1px solid #E1e1e1">
		<div style="display:block;width:20%;float:left;text-align:center"><img src="http://localhost/trantoanphat/public/site/images/icon24.png" /></div>
		<div style="display:block;width:80%;float:left">
			<p style="display:block;padding: 10px 0px;font-weight:bold;font-size: 18px;">CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ TRẦN TOÀN PHÁT</p>
		</div>
	</div>
	<div style="padding:15px;overflow:hidden;min-height:400px;background:#fff">{content}</div>
	<div style="padding:15px;border-top:1px solid #E1e1e1;overflow:hidden">
		<div style="width:25%;text-align:center;float:left">
			<img src="http://adiva.com.vn/wp-content/uploads/2015/06/cropped-logo1.png" style="width:90%" />
			<p style="font-size: 17px;color: #333;">TINH CHẤT LÀM ĐẸP</p>
		</div>
		<div style="width:70%;border-left:1px solid #555;float:right;padding-left:15px">
			<p style="margin:0px;padding:0px;line-height:22px"><b style="font-size:18px">TRAN TOAN PHAT TRADING & SERVICE CO.,LTD</b> <br>
			<b>Address:</b> 246/9 Binh Quoi, Ward 28, Binh Thanh Dist., HCM <br>
			<b>Hotline:</b> 1900 555 552 / Fax: (+84) 8 3556 2554 <br>
			<b>Tax code:</b> 031 071 7887 / Website: www.adiva.com.vn </p>
		</div>
	</div>
</div>
