.body_content .containner .training-box{margin-top:0;position:relative}
.body_content .containner .blockstudy_1 .blockstudy_1_2{min-height:400px}
.body_content .containner .training-box .row1 .title_row{font-size:30px;margin-top:10px}
.body_content .containner .training-box .row1 .description{margin:10px 0}
.body_content .containner .training-box .row2 p{float:left;margin-right:20px}
.body_content .containner .training-box .row3{clear:both;padding-top:10px;overflow:hidden}
.body_content .containner .training-box .row3 img{background-color:#fff;border:1px solid #ddd;border-radius:4px;display:block;line-height:1.42857;margin-bottom:20px;max-width:600px;padding:4px;transition:border .2s ease-in-out 0;float:left;margin-right:30px}
.body_content .containner .training-box .row3 .description_box .date_title{margin:20px 0}
.body_content .containner .training-box .row3 .description_box .date_title .btn{margin-right:20px}
.body_content .containner .training-box .row4,.body_content .containner .training-box .row5,.body_content .containner .training-box .row6{clear:both;margin-bottom:30px}
.body_content .containner .training-box .row4 .title_row,.body_content .containner .training-box .row5 .title_row,.body_content .containner .training-box .row6 .title_row,.body_content .containner .training-box .row7 .title_row{text-transform:uppercase}
.body_content .containner .training-box .row5 ul li{padding:5px 0}
.body_content .containner .training-box .row7 .title_row{margin-bottom:20px}
.body_content .containner .training-box .row7 .list{border-radius:4px;background-color:#fb9595;overflow:hidden}
.body_content .containner .training-box .row7 .col-xs-3:first-child .list{background-color:#f6c187}
.body_content .containner .training-box .row7 .col-xs-3:first-child .list h3{background-color:#f2a654}
.body_content .containner .training-box .row7 .col-xs-3:nth-child(3) .list{background-color:#91c2f0}
.body_content .containner .training-box .row7 .col-xs-3:nth-child(3) .list h3{background-color:#62a8ea}
.body_content .containner .training-box .row7 .col-xs-3:last-child .list{background-color:#7dd1ad}
.body_content .containner .training-box .row7 .col-xs-3:last-child .list h3{background-color:#46be8a}
.body_content .containner .training-box .row7 .list h3{background-color:#f96868;text-align:center;padding:10px 15px;margin:0;font-size:16px;font-weight:700;border-radius:4px;color:#fff}
.body_content .containner .training-box .row7 .list .scroll-content{height:450px;overflow:auto;padding-bottom:20px}
.body_content .containner .training-box .row7 .list p{padding:5px 20px;margin:0}
.body_content .containner .training-box .row7 .list p.p_primary{font-weight:700;margin-top:15px}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box{padding:30px 0;overflow:hidden}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .ttitle{font-size:20px;text-align:center;margin-top:100px}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box #des_soft{margin:10px 0 20px;display:block;text-align:center}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box #start{text-align:center}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .showanswer .img-thumbnail{margin-bottom:20px}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .showanswer,.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box #result {max-width: 50em;margin: 10px auto;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .showanswer .image-question{margin-bottom:15px}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box #result {padding-top: 20px;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .showanswer p {font-size: 16px;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .showanswer p input {margin-right: 10px;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result {}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 {text-align: center;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 .title_point h2 {text-transform: uppercase;margin: 0 0 20px;font-size: 24px;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 .bg_point {width: 160px;height: 160px;border-radius: 80px;margin: 0 auto;background-color: #fff;border: 15px solid #d6e9c6;padding: 40px 10px 0;position: relative;box-shadow: 0 0 0 10px #62a8ea,0 0 0 15px hsl(0, 0%, 90%); margin-bottom: 20px;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 .bg_point:before {content: "";position: absolute;top: 15px;color: #555;text-align: center;width: 100%;left: 0;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 .bg_point .v_point {font-size: 45px;text-align: center;color: #a94442;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 .show {width: 160px;margin: 0 auto;padding: 10px 0;overflow: hidden;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 .show .trues, .body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-5 .show .falses {width: 50%;float: left;text-align: center;}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result .col-xs-7 {}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .scroll_content .form-box .tab_result h6 {font-size: 16px;}


/*Begin certificate*/
.certificate {
width: 650px;
height: 550px;
padding: 75px;
box-shadow: 0 0 5px #999;
background: transparent url(../images/bg.jpg) 0 0 no-repeat;
color: #a87c4f;
margin: 50px auto;
}
.certificate .title {
height: 110px;
background: transparent url(../images/title-bg.png) center top no-repeat;
text-align: center;
text-transform: uppercase;
padding-top: 25px;
margin: 0 0 40px;
}
.certificate .title b {
font-size: 30px;
}
.certificate .title span {
display: block;
font-size: 18px;
font-weight: normal;
padding-top: 5px;
}
.certificate .name {
position: relative;
margin: 10px 0 20px;
}
.certificate .name:before {
position: absolute;
content: "";
bottom: -5px;
border-bottom: 1px solid #a87c4f;
width: 120px;
left: 50%;
margin-left: -60px;
}
.certificate .name b {
font-size: 10px;
margin-left: 85px;
text-transform: uppercase;
font-weight: normal;
}
.certificate .name span {
text-align: center;
display: block;
color: #332518;
font-size: 30px;
font-family: "Times New Roman", serif;
font-style: italic;
}
.certificate p {
text-align: center;
}
.certificate .date {
text-align: center;
float: left;
width: 120px;
padding-top: 40px;
}
.certificate .date b {
font-size: 10px;
text-transform: uppercase;
font-weight: normal;
position: relative;
padding-top: 15px;
}
.certificate .date b:before {
content:"";
position: absolute;
top: 12px;
border-top: 1px solid #a87c4f;
width: 120px;
left: -12px;
}
.certificate .date span {
font-family: "Times New Roman", serif;
color: #332518;
display: block;
font-size: 20px;
}
.certificate .ttp-logo {
padding-top: 40px;
overflow: hidden;
}
.certificate .ttp-logo a {
float: right;
}

/* Begin study-box*/
.body_content .containner .training-box .blockstudy_1 {
float: left;
width: 70%;
padding-right: 20px;
border-right: 1px solid #e1e1e1;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_1 b {
position: absolute;
top: 0;
left: 0;
display: block;
background-color: #e1e1e1;
/*color: #fff;*/
font-weight: normal;
padding: 5px 10px;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_1 h1 {
border-bottom: 1px solid #e1e1e1;
padding-bottom: 10px;
font-size: 26px;
margin-top: 40px;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_3 {
padding-top: 15px;
border-top: 1px solid #e1e1e1;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_3 #next .btn-danger, .body_content .containner .training-box .blockstudy_1 .blockstudy_1_3 #pre .btn-default {
float:right;
margin-left: 10px;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full {
font-size:100%;
max-width: 50em;
margin: 0 auto;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full h1, .body_content.containner .box_training_tab .over_lay .block2_inner  .content_full h1 {
font-size: 2.747em;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full h2, .body_content.containner .box_training_tab .over_lay .block2_inner  .content_full h2 {
font-size: 0.874em;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full h3, .body_content.containner .box_training_tab .over_lay .block2_inner  .content_full h3 {
font-size:1.229em;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full p, .body_content.containner .box_training_tab .over_lay .block2_inner  .content_full p {
margin: 10px 0;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full ul, .body_content.containner .box_training_tab .over_lay .block2_inner  .content_full ul  {
margin: 10px 0;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full ul li, .body_content.containner .box_training_tab .over_lay .block2_inner  .content_full ul li {
padding: 5px 0;
}
.body_content .containner .training-box .blockstudy_1 .blockstudy_1_2 .content_full img, .body_content.containner .box_training_tab .over_lay .block2_inner  .content_full img {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
display: inline-block;
line-height: 1.42857;
margin-bottom: 20px;
padding: 4px;
transition: border 0.2s ease-in-out 0s;
max-width: 700px;
}
.body_content .containner .training-box .blockstudy_2 {
float: right;
width: 30%;
overflow: auto;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content h2 {
font-size: 16px;
background-color: #e1e1e1;
padding: 10px 15px;
font-weight: bold;
margin-top: 30px;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul {
padding-left:15px;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul h3.title {
margin: 20px 0 5px;
font-size: 16px;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul p {
padding: 5px 15px;
color: #666;
margin: 0;
position: relative;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul p span {
display: none;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul p i.text-success {
position: absolute;
top: 8px;
right: 0px;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul p.activeds i.text-success {
color: #fff;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content .fa {
margin-right: 5px;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul p.activeds span {
color: #fff;
display: inline-block;
font-weight: normal;
padding-right: 10px;
font-size: 13px;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content ul p.activeds {
font-weight: bold;
background-color: #62a8ea;
color: #fff;
}
.body_content .containner .training-box .blockstudy_2 .scroll_content  ul p.activeds a {
color: #fff;
}

/*
**************************************
*   Training-box                      *
*                                    *
**************************************
*/

.containner .box_training_tab .row, .containner .manager .row, .containner .row {
clear:both;
/* overflow:hidden; */
padding:5px 0;
/*width:100%;*/
}
 .containner .box_training_tab h3, .containner .manager h3 {
 font-size: 20px;
 overflow: hidden;
 line-height: 34px;
 margin-bottom: 0;
 }
.containner .box_training_tab .dvPreview {
position: absolute;
right: 0;
top: 0;
z-index: 99999;
}
.containner .box_training_tab h5 {
overflow: hidden;
 line-height: 34px;
 margin-bottom: 0;
}

.body_content .containner .blockstudy_1 .blockstudy_1_2 .videoWrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;

}
.body_content .containner .blockstudy_1 .blockstudy_1_2 .videoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.body_content label {
font-weight: normal;
margin-top: 5px;
white-space: nowrap;
}
.body_content .form-group {margin: 0;}
.body_content .form-group [class^="col-xs-"] {
padding: 0;
}
.body_content .radio {
margin-top: 0;
}
.body_content .radio label {
margin-right: 15px;
}

.body_content .containner .alert {}
.body_content .containner .alert h5 {
margin-top: 0;
font-size: 16px;
font-weight: bold;
}
.body_content .containner .alert h5 .fa {
margin-right: 5px;
}
