body{background:#f5f5f5;margin-left:0px;transition:all 0.3;-webkit-transition:all 0.3;-moz-transition:all 0.3s;-o-transition:all 0.3s;width:100%;}
body.in{margin-left:300px;}
*{color:#555;}
a{text-decoration:none}
.header{height:50px;background: #fb3737;position:fixed;top:0px;left:0px;width:100%;z-index: 9;}
.header p{color:#FFF;padding:13px 15px;font-size:17px;display:block;max-width: 300px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.header.in{left:300px;}
.header > li{position:relative;height:50px;display:block;}
.header > li:hover{background: #383838;}
.header > li:hover ul{display:block;}
.header > li:focus{background: #383838;}
.header > li:focus ul{display:block;}
.header > li ul{position:absolute;top:50px;right:0px;background: #575757;padding:0px;display:none;}
.header > li ul li{display:block;}
.header > li ul li a{display:block;padding:5px 15px;}
.header a{color:#FFF;display:block;padding: 0px 20px;white-space: nowrap;}
.header a.active{background: #fb8080;}
.header a.first{height:50px;padding:0px 20px;height:50px;line-height:50px;}
.header a.first i{color:#FFF;font-size:30px;margin:10px 0px;}
.sitebar{position:fixed;background:#333;top:0px;left:-300px;width:300px;bottom:0px;transition:all 0.5;-webkit-transition:all 0.5;-moz-transition:all 0.5s;-o-transition:all 0.5s;}
.sitebar .primary_image{display:block;margin:30px auto 10px auto;text-align:center;border-bottom: 1px solid #454545;box-shadow:0px 1px 0px #292929;padding-bottom:30px;}
.sitebar .primary_image img{width:130px;height:130px;border-radius:50%;border:3px solid #eee;}
.sitebar .primary_image h2{color: #fff;font-size:18px;}
.sitebar .primary_image p{color: #f55;}
.sitebar.in{left:0px;}
.sitebar .user_information{margin:10px 30px;}
.sitebar .user_information a{display:block;padding:15px 0px;border-bottom:1px solid #454545;color:#999;box-shadow:0px 1px 0px #292929;}
.sitebar .user_information a i{color:#ccc;margin-right:10px;}

.waiting{position:fixed;top:50px;left:0px;right:0px;bottom:0px;z-index: 9;background: #EEE;}
.waiting h1{text-align:center;margin:200px 0px;color:#c1c1c1;text-shadow:1px 1px 0px #FFF;}
.containner{width:96%;margin:2%;overflow:hidden;margin-top:60px}
.containner .branchtitle{margin-bottom:10px;}
.containner .branchtitle select{border:1px solid #eee;padding:12px 5px;outline: none;}
.containner .branchtitle select.type{width:40%}
.containner .branchtitle select.place{width:55%;float:right;}
.containner .list{background:#FFF;padding:10px;border:1px solid #eee;overflow:hidden;margin-bottom: 10px;position:relative;}
.containner .list .ordertitle{padding-bottom:15px;margin-bottom: 15px;border-bottom:1px solid #e1e1e1;}
.containner .list .ordertitle b{background: #7cad1b;color:#FFF;margin-right:20px;padding: 12px 13px;}
.containner .list span{width:130px;float:left;}
.containner .list .cancel_products{position:absolute;right:50px;bottom:10px;border:1px solid #EEE;width:30px;text-align:center;padding:3px 0px;border-radius:3px;}
.containner .list .getproducts{position:absolute;right:10px;bottom:10px;border:1px solid #EEE;width:30px;text-align:center;padding:3px 0px;border-radius:3px;}
.containner .list .getproducts i{color: #999;}
.containner .list .getproducts.active{background: #0fcc86;border: 1px solid #0baf72;}
.containner .list .getproducts.active i{color:#FFF;}
.containner .list .shippingorder{position:absolute;right:10px;top:8px;border:1px solid #EEE;width:30px;text-align:center;padding:3px 0px;border-radius:3px;}
.containner .list .shippingorder i{color: #999;}
.containner .list .shippingorder.active{background: #0fcc86;border: 1px solid #0baf72;}
.containner .list .shippingorder.active i{color:#FFF;}
.containner .list .viewdetails{background: #5f5f5f;padding:8px;display:block;text-transform:uppercase;font-weight:bold;text-align:center;font-size:17px;color:#FFF;text-decoration:none}
.containner .list .viewdetails i{color:#FFF;margin-right:10px}
.containner .list .listdetails{border:1px solid #ccc;}
.containner .list .listdetails .list_products_details{padding:5px 15px;border-bottom:1px solid #ccc;overflow:hidden}
.containner .list .listdetails .list_products_details.active{background:#EEE;font-weight:bold;font-size:16px;margin: 0px;padding:10px 15px;}
.containner .list .listdetails .list_products_details.active a{color:#555;text-transform:uppercase;text-align:center;display:block;}
.containner .list .listdetails .list_products_details.active a i{margin-left:10px;}
.containner .list .listdetails .list_products_details b{float:right;font-size:12px;color:#FFF;padding:1px 8px;border-radius: 3px;margin-right: -10px;margin-top: 5px;}
.containner .list .listdetails .list_products_details:last-child{border:none;border-top: 1px solid #ccc;}
.containner .list .listdetails .list_products_details a.check_reciver{float:left;width:30px;height:30px;background:#fafafa;text-align:center;margin-top:5px;margin-right:15px;margin-bottom:30px;border-radius:3px}
.containner .list .listdetails .list_products_details a.check_reciver i{margin-top:7px;color:#999}
.containner .list .listdetails .list_products_details a.check_reciver.active i{margin-top:7px;color:#fff}
.containner .list .listdetails .list_products_details a.check_reciver.active{background: #62d662;}


.containner .list .menufunction{position:absolute;top:45px;right:10px;background:#555;display:none}
.containner .list .menufunction a{display:block;padding:8px 15px;color:#fff;border-bottom:1px solid #666;box-shadow:0px 1px 0px #444}
.containner .list .menufunction a i{color:#FFF;margin-right:5px;}
.containner .list .menufunction a:nth-child(1) i{color: #acf912;}
.containner .list .menufunction a:nth-child(2) i{color: #f3cc03;}
.containner .list .menufunction a:nth-child(3) i{color: #ff2c2c;}
.containner .list .menufunction:after{content:'';width:10px;height:10px;background:#555;position:absolute;top:-5px;right:10px;transform:rotate(45deg)}



.containner .list .cancelorder{position:absolute;right:60px;top:8px;border:1px solid #EEE;width:30px;text-align:center;padding:3px 0px;border-radius:3px;}
.containner .list .cancelorder i{color: #999;}
.containner .list .cancelorder.active{background: #ff5555;border: 1px solid #f52b2b;}
.containner .list .cancelorder.active i{color:#FFF;}

.table tr td a.status-button{background: #eee;padding:5px 10px;border-radius: 25px;color:#555;white-space:nowrap;font-size:12px !important}
.table tr td a.status-button i{margin-right:5px;font-size:12px !important}
.table tr td a.status-button .text-success{color:#70d270 !important;}
.table tr td a.status-button .text-default{color:#f3a0a0 !important;}
.table tr td a.status-button .text-danger{color:#e07a7a !important;}

.table{background: #FFF}

.containner .apply{display:block;padding:10px 0px;text-align:center;text-transform:uppercase;font-weight:bold;background:#fb3737;color:#FFF;font-size: 20px;border-radius: 3px;text-decoration: none;}

.saving {background:#EEE url(../images/loading.gif) 15px 50% no-repeat !important;border:1px solid #E1e1e1 !important;color:#555 !important;padding-left:30px !important;}
.saving i{display:none;}
