body{font-family: 'Roboto', sans-serif;background: #f5f5f5;color:#666;}
h1,h2,h3,h4,h5{margin: 15px 0px;padding:0px;}
hr{margin-top:10px;margin-bottom:10px;}
.title-header{margin-top:10px;}
.header{height: 60px;padding-top: 10px;background: #fff;box-shadow:0px 0px 2px #ccc;position: fixed;z-index: 2;width: 100%;}
.header .img-logo{height: 50px;margin-top: -5px;}
.header .user-info a{display: block;color:#999;padding:0px 10px;overflow:hidden;float:left;line-height: 40px;margin-left:10px;cursor:pointer;text-decoration:none;}
.header .user-info a.btn{color:#fff;border-radius:30px;line-height:45px;padding:0px 20px}
.header .user-info a > i.fa-comments{font-size: 35px;color:#ccc;}
.header .user-info a > i.fa-power-off{margin-left:6px;}
.header .user-info a:hover > i.fa-comments{color: #008393;}
.header .user-info a > b{color:#555;}
.header .user-info a > img{height: 35px;}
.circle-radius{border-radius: 80px;}
.search-box{position: relative;height: 40px;color:#999;border: 1px solid #e1e1e1;}
.search-box i{position: absolute;left: 20px;top: 12px;}
.search-box .form-control{border:none;box-shadow: none;outline: none;padding-left: 35px;height: 26px;}

.menu-primary{position: fixed;left:0px;top: 60px;background: #fff;bottom:0px;border-right:1px solid #e6e6e6;width: 107px;z-index:1;}
.menu-primary > ul{margin:0px;padding:0px;margin: 20px 0px 0px 0px;}
.menu-primary > ul > li{display:block;padding:0px;margin:0px;position:relative;}
.menu-primary > ul > li > a{display:block;padding:10px;text-align:center;text-decoration:none;position:relative;}
.menu-primary > ul > li > a span{display:block;color:#888;}
.menu-primary > ul > li > a span.glyphicon{width:40px;height:40px;font-size:20px;line-height:40px;margin:auto;color:#fff;border-radius:50%;margin-bottom:5px;color:#999;background: #eee;}
.menu-primary > ul > li.active > a span.glyphicon{background:#008393;color:#fff;}
.menu-primary > ul > li.active > a:after{content:'';width:4px;height:100%;top:0px;right:0px;background:#008393;position:absolute;border-radius:10px;}
.menu-primary > ul > li > a:hover span.glyphicon{color:#444;}
.menu-primary > ul > li.active > a:hover span.glyphicon{color:#fff;}
.menu-primary > ul > li:hover{background:#f5f5f5;}
.menu-primary > ul > li:hover ul{transform: translate3d(0px,0px,0px);opacity:1;z-index: 1;}
.menu-primary > ul > li > ul{position:absolute;left:100%;top:0px;background:#f5f5f5;min-width:250px;border:1px solid #eee;padding: 0px 15px 10px 15px;transform: translate3d(-330px,0px,0px);transition: all 0.5s;opacity:0;z-index: unset;}
.menu-primary > ul > li > ul > li{margin-left:20px}
.menu-primary > ul > li > ul > li.sub-title{font-weight:bold;display:block;margin-left:0px;margin-bottom:5px;margin-top:15px}
.menu-primary > ul > li > ul > li a{color:#555;}

.content-data{margin-left: 110px;margin-top: 80px;margin-right: 0px;padding: 10px 15px 10px 15px;margin-bottom: 20px;background: #fff;border: 1px solid #e9e9e9;min-height: 800px;}
.content-data .btn{margin-right:10px;}
.content-data .btn i{margin-left:5px;margin-right:5px;}
input[type="checkbox"]{border: 1px solid #b4b9be;background: #fff;color: #555;clear: none;cursor: pointer;display: inline-block;line-height: 0;height: 16px;margin: -4px 4px 0 0;outline: 0;padding: 0!important;text-align: center;vertical-align: middle;width: 16px;min-width: 16px;-webkit-appearance: none;-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1);-webkit-transition: .05s border-color ease-in-out;transition: .05s border-color ease-in-out;outline: none;}
input[type=checkbox]:checked:before{margin: 0px 0 0 0px;color: #1e8cbe;content: "\e013";font-size: 9px;margin-top: 7px;display: block;}
input[type=checkbox]:checked{font-family: 'Glyphicons Halflings';}

table.table{margin-top:10px;background: #fff;}
table.table th.checkbox-button{width:35px;}
table.table th{background: #f3f3f3;}
table.table tr td a{color:#666;}

.pagination{margin:0px;}
#connection_box_warning{display: none;}
.modal .modal-header{background: #eee;}
.btn-file-upload{}