.body_content .containner .select_progress{border-bottom:1px solid #E1e1e1;box-shadow:0 1px 0 #FFF;height:50px}
.body_content .containner .select_progress .block1{display:block;float:left}
.body_content .containner .select_progress .block2{float:right}
.body_content .containner .select_progress .block2 .dropdown{position:relative}
.body_content .containner .select_progress .block2 .dropdown a.value_excute{background:#fff;border-radius:3px;border:1px solid #ccc;display:inline-block;padding:5px 10px}
.body_content .containner .select_progress .block2 .dropdown a.value_excute span{font-size:16px;margin-right:5px}
.body_content .containner .select_progress .block2 .dropdown p.value_excute_vs{display:block;padding:2px 0;text-align:center;background:#FFF;position:absolute;top:60px;left:-50px;right:0;background:#C3F1D6;border:1px solid #91DCB0}
.body_content .containner .select_progress .block2 .dropdown .box_dropdown{background:#FFF;border:1px solid #E1e1e1;display:none;padding:15px;position:absolute;right:0;top:59px;width:385px;z-index:999}
.body_content .containner .select_progress .block2 .dropdown .box_dropdown .center_div:before{background:#FFF;border-left:1px solid #E1e1e1;border-top:1px solid #E1e1e1;content:"";height:10px;position:absolute;right:25px;top:-6px;transform:rotate(45deg);width:10px}
.body_content .containner .select_progress .block2 .dropdown .box_dropdown .list_div{display:block;margin-top:10px;overflow:hidden}
.body_content .containner .select_progress .block2 .dropdown .box_dropdown .center_div{margin:5px 0;overflow:hidden;padding:5px 0;text-align:left}
.body_content .containner .select_progress .block2 .dropdown .box_dropdown .center_div input[type="checkbox"]{margin-left:5px;margin-right:5px;margin-top:-2px}
.body_content .containner .select_progress .block2 .dropdown .box_dropdown .center_div select{border:1px solid #E1e1e1;margin-left:10px;outline:none;padding:3px 5px}
.body_content .containner .select_progress .block2 .compare{display:block;overflow:hidden}
.body_content .containner .select_progress .block2 .compare a i{color:#FFF;margin-right:5px}
.body_content .containner .select_progress .block2 #reportrange{background:#f4f4f4;border:1px solid #E1E1E1;cursor:pointer;display:block;padding:5px 10px}
.body_content .containner .select_progress .block2 #reportrange i{font-size:15px;margin-right:5px}
.body_content .containner .select_progress .block2 #reportrange b{float:right;margin-top:9px}
.body_content .containner .select_progress .block2 #reportrange1{background:#f4f4f4;border:1px solid #E1E1E1;cursor:pointer;padding:5px 10px}
.body_content .containner .select_progress .block2 #reportrange1 i{font-size:15px;margin-right:5px}
.body_content .containner .select_progress .block2 #reportrange1 b{float:right;margin-top:9px}
.body_content .containner .title_content{border-bottom:1px solid #e1e1e1;clear:both;margin-top:15px;overflow:hidden}
.body_content .containner .title_content span{background-color:#fff;border-radius:3px 3px 0 0;border:1px solid #E1e1e1;border-bottom:0;display:block;float:left;font-weight:700;padding:5px 10px}
.body_content .containner .report_sales_fill{background-color:#fff;box-shadow:0 0 3px #ccc;display:block;min-height:60px;padding:15px 15px 10px;width:100%;display:inline-table}
.body_content .containner .linechart{background-color:#fff;box-shadow:0 0 3px #ccc;padding:15px}
.body_content .containner .report_sales_fill .block1{float:left;margin-left:5px}
.body_content .containner .report_sales_fill .block1 > div{float:left;height:30px;margin-right:15px}
.body_content .containner .report_sales_fill .block1 select{border:1px solid #E1e1e1;padding:5px}
.body_content .containner .report_sales_fill .block1 span{display:block;padding:4px 0}
.body_content .containner .report_sales_fill .block2{float:right}
.body_content .containner .report_sales_fill .block2 ul{background-color:#fff;border-radius:3px;border:1px solid #E1e1e1;overflow:hidden;padding:0}
.body_content .containner .report_sales_fill .block2 ul li{display:block;float:left;text-align:center}
.body_content .containner .report_sales_fill .block2 ul li:first-child a{border-left:0}
.body_content .containner .report_sales_fill .block2 ul li a{border-left:1px solid #E1e1e1;display:block;padding:3px 10px}
.body_content .containner .report_sales_fill .block2 ul li a:hover{background:#EEE}
.body_content .containner .report_sales_fill .block2 ul li a.active{background:#62a8ea;color:#fff}
.body_content .containner .piechart,.body_content .containner .training-box{background-color:#fff;border-radius:4px;box-shadow:0 0 3px #ccc;margin-top:30px;overflow:hidden;padding:15px;width:100%}
.body_content .containner .piechart .block1{float:left;overflow:hidden;width:685px}
.body_content .containner .piechart .block1 .list_item{border-right:1px solid #e1e1e1;float:left;height:165px;margin-top:20px;width:190px}
.body_content .containner .piechart .block1 .list_item:nth-child(3n){border-right:none;width:300px}
.body_content .containner .piechart .block1 .list_item p.title{font-size:14px;margin:5px 20px;text-transform:uppercase}
.body_content .containner .piechart .block1 .list_item h3{font-size:28px;font-weight:400;margin-bottom:5px;margin-left:20px}
.body_content .containner .piechart .block1 .list_item h3.green{color:#090}
.body_content .containner .piechart .block1 .list_item h3.red{color:red}
.body_content .containner .piechart .block1 .list_item i{font-size:12px;font-style:normal;margin-left:20px}
.body_content .containner .piechart .block1 .list_item .chart{clear:both;display:block;margin-top:20px;text-align:center}
.body_content .containner .piechart .block1 .list_item .chart .itemchart{display:block;font-size:16px;height:100%;line-height:1.2em;margin:0;}
.body_content .containner .piechart .block1 .list_item:nth-child(3n) .chart .itemchart{margin:0 0 0 5px}
.body_content .containner .piechart .block2{float:left}
.body_content .containner .piechart .block2 .description{display:block;margin-bottom:20px;width:100%}
.body_content .containner .piechart .block2 .description a{display:block}
.body_content .containner .piechart .block2 .description a span{border-radius:3px;display:block;float:left;height:15px;margin-right:10px;margin-top:3px;width:15px}
.body_content .containner .piechart .block2 .description p{border-bottom:1px solid #E1e1e1;border-top:1px solid #E1e1e1;margin-top:10px;padding:5px 0}
.version{background:#11171a;box-sizing:border-box;color:#707980;font-size:12px;padding:3px 15px;transition:all .3s;-webkit-transition:all 0,3s;-moz-transition:all .3s;padding:3px 20px;position:absolute;bottom:0;width:100%;left:0}
.version span{float:right}
.version:hover{color:#FFF;cursor:pointer}
.body_content .warning_message{background:#FDE5E5;border-bottom:1px solid #F7D0D0;display:none;height:38px;margin-left:230px;color:#B94848;overflow:hidden;padding:7px 0 7px 20px;position:relative;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s}
.body_content .warning_message.opensitebar{margin-left:0}
.body_content .warning_message a{display:block;float:right;padding:8px;position:absolute;right:0;top:0}
.body_content .warning_message > i{color:#EA5105;margin-right:5px}
.body_content .containner .details{clear:both;display:block;margin-top:30px;overflow:hidden;width:100%}
.body_content .containner .details .block1{float:left;width:30%}
.body_content .containner .details .block1 p{border-bottom:1px solid #ccc;box-shadow:0 1px 0 #FFF;font-size:14px;font-weight:700;margin-bottom:5px;padding:5px 0;text-transform:uppercase}
.body_content .containner .details .block1 ul{margin-bottom:20px;padding:0}
.body_content .containner .details .block1 ul li{display:block;padding:3px 0}
.body_content .containner .details .block1 ul li a{color:#62a8ea;text-decoration:none}
.body_content .containner .details .block1 ul li a:hover{color:#555}
.body_content .containner .details .block2{float:left;width:70%}
.body_content .containner .details .block2 table{background-color:#fff;border-radius:4px;box-shadow:0 0 3px #ccc;margin:0 auto;width:96%}
.body_content .containner .details .block2 table tr>td:first-child{text-align:center}
.body_content .containner .details .block2 table tr:last-child td{padding:15px 0;font-weight:700}
.body_content .containner .details .block2 table tr td{border-bottom:1px solid #FFF;padding:5px}
.body_content .containner .details .block2 table tr td:nth-child(3){text-align:center}
.body_content .containner .details .block2 table tr th:nth-child(3){text-align:center}
.body_content .containner .details .block2 table tr th{border-bottom:1px solid #c7cacb;padding:5px}
.body_content .containner .details .block2 table tr:hover td{border-bottom:1px solid #E1e1e1;cursor:pointer}
.body_content .containner .details .block2 .table_report{display:none}
.body_content .containner .details .block2 .city_table{display:block}
.manager{overflow:hidden;width:100%}
.manager .table_data{font-size:13px;text-decoration:none}
.manager .fillter_bar{border-bottom:1px solid #E1e1e1;box-shadow:0 1px 0 #FFF;height:48px;overflow:hidden;padding-bottom:15px;width:100%;margin-bottom:15px}
.manager .fillter_bar .block1{float:left;width: 67%;}
.manager .fillter_bar .block1 h1{font-size:22px;font-weight:700;padding:15px 0 10px;text-transform:uppercase;margin:0}
.manager .fillter_bar .block1 span{color:#888;float:left;font-size:13px;margin-right:10px;padding:5px 0}
.manager .fillter_bar .block1 input[type="text"]{border-radius:0;float:left;padding:3px 10px;width:200px}
.manager .fillter_bar .block1 .btn{margin-left:10px}
.manager .fillter_bar .block1 select{float:left;padding:3px 10px;width:200px}
.manager .fillter_bar .block2{float:right}
.body_content .containner .import_select_progress{border-bottom:1px solid #E1e1e1;box-shadow:0 1px 0 #FFF;min-height: 45px;margin-bottom:10px;position:relative;z-index:99999;padding-bottom: 10px;}
.body_content .containner .import_select_progress .block1{display:block;float:left}
.body_content .containner .import_select_progress .block1 h1{font-size:20px;font-weight:700;margin-top:10px;text-transform:uppercase}
.body_content .containner .import_select_progress .block1 h1 a{font-size:22px}
.body_content .containner .import_select_progress .block2 .list_div{background-color:#fff;border-radius:3px;border:1px solid #ccc;padding:5px 10px}
.body_content .containner .import_select_progress .block2 .list_div span{font-size:16px}
.body_content .containner .import_select_progress .block2 .list_div i{margin-right:5px}
.body_content .containner .import_select_progress .block2 .list_div b{margin-left:5px}
.body_content .containner .import_select_progress .block2{float:right}
.body_content .containner .import_select_progress .block2 .input-group{width:250px}
.body_content .containner .import_select_progress .block2 .btn_group .btn{margin-left: 5px;}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box{position:absolute;top:44px;background: #edf1f2;right:0;padding:15px;border:1px solid #E1e1e1;width:348px;display:none;}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box:after{content:'';position:absolute;top:-6px;right:20px;display:block;width:10px;height:10px;background: #edf1f2;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);border-top:1px solid #E1e1e1;border-left:1px solid #E1e1e1;}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box p{margin-bottom:5px}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box select{border:1px solid #ccc;margin-bottom:10px;float:none;width:100%}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box span{float:none;border:none;padding:0}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box input[type="text"]{margin-top:5px}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box input[type="checkbox"]{margin-top:5px}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box .btn-acceptcancel{float:none;margin-left:95px;margin-top:10px}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box p.lydokhac{display:none}
.body_content .containner .import_select_progress .block2 .btn_group .cancel_box .PLReason{background:#CFF7E6;padding:10px;margin-bottom:10px;border:1px solid #A6E4CA}
.body_content .containner .import_select_progress .block2 .btn_group .disablebutton{display:none}
.body_content .containner .import_orderlist .block1{border-radius:2px;border:3px solid #62BB62;display:block;margin-bottom:20px;overflow:hidden}
.body_content .containner .import_orderlist .block1 li{display:block;float:left;font-weight:700;padding:15px;width:25%}
.body_content .containner .import_orderlist .block1 li b{border:1px solid #E1e1e1;display:inline-block;font-size:14px;margin-left:5px;min-width:100px;padding:3px 10px}
.body_content .containner .import_orderlist .block2 .block_2_1 ul{float:left;padding:0;margin-right:15px}
.body_content .containner .import_orderlist .block2 .block_2_1 ul li{display:block;position:relative}
.body_content .containner .import_orderlist .block2 .block_2_1 > ul > li a b{margin-left:5px}
.body_content .containner .import_orderlist .block2 .block_2_1 ul li ul{background:#F6F6F6;border:1px solid #E1e1e1;display:none;left:0;padding:5px 0;position:absolute;top:48px;width:150px;z-index:99}
.body_content .containner .import_orderlist .block2 .block_2_1 ul li ul:before{background:#f6f6f6;border-left:1px solid #E1e1e1;border-top:1px solid #E1e1e1;content:"";display:block;height:15px;left:17px;position:absolute;top:-8px;transform:rotate(45deg);width:15px}
.body_content .containner .import_orderlist .block2 .block_2_1 ul li ul li a{border-bottom:1px solid #e1e1e1;border:none;margin:0 5px;padding:0;padding:5px 10px;display:inline-block}
.body_content .containner .import_orderlist .block2 .block_2_1 ul li ul li a i{margin-right:7px}
.body_content .containner .import_orderlist .block2 .block_2_1 ul li ul li:last-child a{border-bottom:none}
.body_content .containner .import_orderlist .block2 .block_2_1 .warehouse_fillter #CheckedDay{border:1px solid #ccc;float:left;height:36px;padding:10px;width:146px}
.body_content .containner .import_orderlist .block2 .block_2_2 input[type="text"]{border:none;margin-left:2px;padding:5px}
.body_content .containner .import_orderlist .block2 .block_2_2 a.btn.btn-primary{float:right;margin-right:5px}
.body_content .containner .import_orderlist .export_tools{border:1px solid #E1e1e1;display:none;float:right;padding:3px;position:relative;text-align:right;background:#FFF;margin-bottom:15px;min-width:220px}
.body_content .containner .import_orderlist .export_tools a{color:#62a8ea;margin:0 10px;text-decoration:underline}
.body_content .containner .import_orderlist .export_tools:before{background:#FFF;border-left:1px solid #E1e1e1;border-top:1px solid #E1e1e1;content:'';height:10px;position:absolute;right:180px;top:-5px;transform:rotate(45deg);width:10px}
.body_content .containner .import_orderlist .export_tools_kt{background:#F6F6F6;border:1px solid #E1e1e1;display:none;float:right;padding:3px;position:relative;text-align:right;width:100%}
.body_content .containner .import_orderlist .export_tools_kt form{min-width:343px}
.body_content .containner .import_orderlist .export_tools_kt form span{float:left;height:34px;padding:6px 10px}
.body_content .containner .import_orderlist .export_tools_kt form input{float:left;margin-right:5px;padding:0 5px;width:150px}
.body_content .containner .import_orderlist .export_tools_kt form select{border:1px solid #E1e1e1;float:left;height:34px;margin-right:5px;padding:0 5px;position:relative;width:150px}
.body_content .containner .import_orderlist .export_tools_kt form button{height:34px;padding:3px 10px;float:left}
.body_content .containner .import_orderlist .import_tools{border:1px solid #E1e1e1;display:none;float:right;padding:3px;position:relative;text-align:right;margin-bottom:10px}
.body_content .containner .import_orderlist .import_tools input{float:left;margin-right:20px;padding:0;position:relative}
.body_content .containner .import_orderlist .import_tools button{background:#eee;border:1px solid #E1e1e1;box-shadow:0 3px 5px #FFF inset;height:23px;padding:0 10px}
.body_content .containner .import_order_info .block1 .table_absolute{margin-bottom:10px}
.body_content .containner .import_order_info .block1 .table_absolute table{border-collapse:collapse;border:3px solid #46BE8A;width:100%}
.body_content .containner .import_order_info .block1 .table_absolute table tr th{border:1px solid #E1e1e1;padding:10px 8px;text-align:center;font-weight:700}
.body_content .containner .import_order_info .block1 .table_absolute table tr td{border:1px solid #E1e1e1;font-size:17px;padding:5px 8px;text-align:center}
.body_content .containner .import_order_info .block2{position:relative}
.body_content .containner .import_order_info .block2 ul li{display:block;position: relative;}
.body_content .containner .import_order_info .block2 ul li ul{background:#F6F6F6;border:1px solid #E1e1e1;display:none;left: 87px;padding:5px 0;position:absolute;top:48px;width:150px;border-radius:3px;}
.body_content .containner .import_order_info .block2 ul li ul li{display:block}
.body_content .containner .import_order_info .block2 ul li ul:before{background:#f6f6f6;border-left:1px solid #E1e1e1;border-top:1px solid #E1e1e1;content:"";display:block;height:15px;left:17px;position:absolute;top:-8px;transform:rotate(45deg);width:15px}
.body_content .containner .import_order_info .block2 ul li ul li a{margin:0 5px;padding:5px 10px;display:inline-block}
.body_content .containner .import_order_info .block2 ul li ul li a i{margin-right:5px}
.body_content .containner .import_order_info .block2 ul li ul li:last-child a{border-bottom:none}
.body_content .containner .import_order_info .table_donhang{clear:both;/* padding-top:10px */}
.body_content .containner .import_order_info .table_donhang table{border-collapse:collapse;width:100%}
.body_content .containner .import_order_info .table_donhang table *{font-size:13px}
.body_content .containner .import_order_info .table_donhang table tr th{background:#F6F6F6;border:1px solid #E1e1e1;padding:10px 5px;text-align:center;white-space: nowrap;}
.body_content .containner .import_order_info .table_donhang table tr td .fa-pencil{margin-left:10px;cursor:pointer}
.body_content .containner .import_order_info .table_donhang table tr td ul{margin:0 15px;padding:0}
.body_content .containner .import_order_info .table_donhang table tr td ul li{margin:0;padding:1px 0}
.body_content .containner .import_order_info .table_donhang table tr td ul li a:hover{color:red}
.body_content .containner .import_order_info .table_donhang table tr td ul li a i{color:#999}
.body_content .containner .import_order_info .table_donhang table tr td{border:1px solid #E1e1e1;padding:5px}
.body_content .containner .import_order_info .table_donhang table tr td:first-child{text-align:center}
.body_content .containner .import_order_info .table_donhang table.table_data tr td:nth-child(2){width:100px}
.body_content .containner .import_order_info .table_donhang table.table_data tr td:nth-child(4){text-align:right;width:126px}
.body_content .containner .import_order_info .table_donhang table.table_data tr td:nth-child(4) select{border:1px solid #c1c1c1;height:28px;width:128px}
.body_content .containner .import_order_info .table_donhang table.table_data tr td:nth-child(5){text-align:right;width:100px}
.body_content .containner .import_order_info .table_donhang table.table_data tr td:nth-child(6){text-align:right;width:100px}
.body_content .containner .import_order_info .table_donhang table.table_data tr td:nth-child(7){width:78px}
.body_content .containner .import_order_info .table_donhang table.table_data tr td:nth-child(8){text-align:right;width:100px}
.body_content .containner .import_order_info .table_donhang table.table_data tr td input[type="number"]{border:none;text-align:right;width:100%}
.body_content .containner .import_order_info .table_donhang table.table_data tr td input[type="text"]{border:none;width:100%}
.body_content .containner .import_order_info .table_donhang table.table_data tr td input.border{border:1px solid #E1e1e1}
.body_content .containner .import_order_info .table_donhang table.table_data tr.last:hover td{background:#FFF}
.body_content .containner .import_order_info .table_donhang table.table_data tr.last td:nth-child(1){font-size:13px;font-weight:700;padding-right:20px;text-align:right;background:#FFF}
.body_content .containner .import_order_info .history_status{margin-bottom:20px;margin-top:20px;width:100%;background:#FFF;padding:10px 15px;border:1px solid #E1E1E1}
.body_content .containner .import_order_info .history_status h2{border-bottom:1px solid #E1e1e1;box-shadow:0 1px 0 #FFF;font-size:19px;margin-bottom:10px;padding-bottom:10px;padding-top:0;margin-top: 10px;}
.body_content .containner .import_order_info .history_status table{background:none;width:100%}
.body_content .containner .import_order_info .history_status table tr th{border-bottom:1px solid #E1e1e1;padding:5px 0}
.body_content .containner .import_order_info .history_status table tr td{border-bottom:1px solid #eee;padding:5px 0}
.body_content .containner .import_order_info .history_status table tr td:nth-child(1){width:220px}
.body_content .containner .import_order_info .history_status table tr td:nth-child(2){width:180px}
.body_content .containner .import_order_info .history_status table tr td:nth-child(4){width:130px}
.body_content .containner .notify{border:1px solid #E1e1e1;height:34px;overflow:hidden;position:relative;background:#FFF;line-height:22px}
.body_content .containner .bill_print{width:100%}
.body_content .containner .bill_print *{font-size:13px}
.body_content .containner .bill_print .row{margin:0 5px}
.body_content .containner .bill_print .block1{margin-bottom:30px;overflow:hidden}
.body_content .containner .bill_print .block1 .block1_1{float:left;width:30%}
.body_content .containner .bill_print .block1 .block1_1 p{margin:3px 0}
.body_content .containner .bill_print .block1 .block1_2{float:left;position:relative;text-align:center;width:40%}
.body_content .containner .bill_print .block1 .block1_2 #print_page1{font-size:14px;right:0;margin-right: -274px;position:absolute;margin-top: 25px;}
.body_content .containner .bill_print .block1 .block1_2 #print_page1 i{font-size:20px;margin-right:5px}
.body_content .containner .bill_print .block1 .block1_2 #print_page{font-size:14px;right:0;margin-right: -282px;position:absolute;}
.body_content .containner .bill_print .block1 .block1_2 #print_page i{font-size:20px;margin-right:5px}
.body_content .containner .bill_print .block1 .block1_2 .print_number_links{margin-top:35px}
.body_content .containner .bill_print .block1 .block1_2 #save_page{font-size:14px;left:50%;margin-left:-60px;position:absolute;top:30px}
.body_content .containner .bill_print .block1 .block1_2 #save_page i{color:#090;font-size:20px;margin-right:5px}
.body_content .containner .bill_print .block1 .block1_2 #back_page{font-size:14px;right:0;margin-right: -290px;position:absolute;top: 53px;}
.body_content .containner .bill_print .block1 .block1_2 #back_page i{font-size:17px;margin-right:5px}
.body_content .containner .bill_print .block1 .block1_2 #print_have_ck{font-size:14px;left:50%;margin-left:-55px;position:absolute;top:60px}
.body_content .containner .bill_print .block1 .block1_2 h1{font-size:28px;font-weight:700;margin-bottom:10px;margin-top:5px;text-transform:uppercase}
.body_content .containner .bill_print .block1 .block1_3{float:right;text-align:center;width:26%;margin-right:4%}
.body_content .containner .bill_print .block1 .block1_3 table{border-collapse:collapse;margin:0 auto;width:200px}
.body_content .containner .bill_print .block1 .block1_3 table tr td{border:1px solid #E1e1e1;padding:3px 10px;width:50%}
.body_content .containner .bill_print .block1 .block1_3 table tr td input{border:none;font-weight:700;text-align:center;width:80px}
.body_content .containner .bill_print.mobilization .row{margin:0}
.body_content .containner .bill_print.mobilization .block1 .block1_1{width:500px;margin-top:20px}
.body_content .containner .bill_print.mobilization .block1 .block1_1 img{width:50px;float:left;margin-right:15px}
.body_content .containner .bill_print.mobilization .block1 .block1_1 p.title{font-size:18px;font-weight:700;margin-bottom:3px}
.body_content .containner .bill_print.mobilization .block1 .block1_2{width:20%;height:80px}
.body_content .containner .bill_print.mobilization .block1 .block1_3 h1{font-size:28px;margin-top:20px;text-align:right;font-weight:700;margin-bottom:10px}
.body_content .containner .bill_print.mobilization .block1 .block1_3 p{text-align:right}
.body_content .containner .bill_print.export_internal{border:1px solid #999;background:#FFF}
.body_content .containner .bill_print.export_internal .block1 table{width:100%;background:none;border-collapse:collapse}
.body_content .containner .bill_print.export_internal .block1 table tr td:nth-child(2){text-align:center;width:70%}
.body_content .containner .bill_print.export_internal .block1 table tr td{padding:5px;border:1px solid #999;border-top:none}
.body_content .containner .bill_print.export_internal .block1 table tr td:first-child{border-left:none}
.body_content .containner .bill_print.export_internal .block1 table tr td:last-child{border-right:none}
.body_content .containner .bill_print.export_internal .block1 table tr td img{display:block;margin:0 auto}
.body_content .containner .bill_print.export_internal .block1 h1{font-size:30px;font-weight:700}
.body_content .containner .bill_print.export_internal .block1 .block1_2{width:71%;margin-left:10%;margin-top:10px}
.body_content .containner .bill_print.export_internal .block1 .block1_2 a{margin-top:-130px}
.body_content .containner .bill_print.export_internal .block1 .block1_2 a#save_page{left:100px}
.body_content .containner .bill_print.export_internal .block1 .block1_2 a#back_page{left:100px}
.body_content .containner .bill_print.export_internal .block1 .block1_2 a#print_page{top:70px;left:100px}
.body_content .containner .bill_print.export_internal .block1 .block1_3{width:19%;margin-top:20px}
.body_content .containner .bill_print.export_internal .block1 .block1_3 table{width:200px;float:right}
.body_content .containner .bill_print.export_internal .block1 .block1_3 table tr td{border:none}
.body_content .containner .bill_print.export_internal .block1 .block1_3 input{background:none}
.body_content .containner .bill_print.export_internal .block2{margin:0 15px}
.body_content .containner .bill_print.export_internal .block3 table tr td:nth-child(1){border-left:none}
.body_content .containner .bill_print.export_internal .block3 table tr th:nth-child(1){border-left:none}
.body_content .containner .bill_print.export_internal .block3 table tr td:last-child{border-right:none}
.body_content .containner .bill_print.export_internal .block3 table tr th:last-child{border-right:none}
.body_content .containner .bill_print.export_internal .block4{margin-left:15px}
.body_content .containner .bill_print.export_internal .block5{margin-left:15px;margin-bottom:20px}
.body_content .containner .bill_print.export_internal .block5 p.title{font-weight:700;margin-bottom:5px}
.body_content .containner .bill_print.export_internal .block5 div{overflow:hidden;margin-left:50px}
.body_content .containner .bill_print.export_internal .block5 div span{float:left;width:200px}
.body_content .containner .bill_print .block2{margin-bottom:20px}
.body_content .containner .bill_print .block2 .row{clear:both;margin:0;margin-bottom:3px;overflow:hidden}
.body_content .containner .bill_print .block2 .row li{display:block;float:left;min-width:140px}
.body_content .containner .bill_print .block2 .row li span{background:#eee;display:block;height:20px;left:0;position:absolute;top:0;width:56px}
.body_content .containner .bill_print .block2 .row li:nth-child(2n){font-weight:700}
.body_content .containner .bill_print .block2 .row li:nth-child(2){min-width:180px}
.body_content .containner .bill_print .block2 .row li:nth-child(2) input{border:1px solid #c1c1c1;font-size:12px;font-weight:400;padding:0 5px;width:95%}
.body_content .containner .bill_print .block2 .row li:nth-child(2) select{border:1px solid #c1c1c1;padding:2px}
.body_content .containner .bill_print .block2 .row li:nth-child(3){margin-left:10px;min-width:120px}
.body_content .containner .bill_print .block2 .row li:nth-child(4) input{border:1px solid #c1c1c1;font-size:12px;font-weight:400;padding:0 5px;width:95%}
.body_content .containner .bill_print .block2 .row li:nth-child(4){width:135px}
.body_content .containner .bill_print .block2 .row li:nth-child(5){min-width:50px}
.body_content .containner .bill_print .block2 .row li.special{min-width:800px;width:auto}
.body_content .containner .bill_print .block3{margin-bottom:20px}
.body_content .containner .bill_print .block3 table{border-collapse:collapse;width:100%}
.body_content .containner .bill_print .block3 table tr th{border:1px solid #c1c1c1;padding:3px 5px;text-align:center}
.body_content .containner .bill_print .block3 table tr td{border-left:1px solid #c1c1c1;border-right:1px solid #c1c1c1;padding:2px 5px;text-align:center}
.body_content .containner .bill_print .block3 table tr:last-child td{border:1px solid #C1c1c1;font-size:13px;font-weight:700;padding:5px}
.body_content .containner .bill_print .block3 table tr td:last-child{min-width:125px}
.body_content .containner .bill_print .block3 table tr td:nth-child(2){text-align:left}
.body_content .containner .bill_print .block3 table tr td:nth-child(3){min-width:100px}
.body_content .containner .bill_print .block3 table tr td:nth-child(7){min-width:100px}
.body_content .containner .bill_print .block3 table tr td:nth-child(8){min-width:55px}
.body_content .containner .bill_print .block3 table tr td:nth-child(9){min-width:55px}
.body_content .containner .bill_print .block3 table tr td:nth-child(10){text-align:right}
.body_content .containner .bill_print .block3 table tr td:nth-child(11){text-align:right}
.body_content .containner .bill_print .block4{overflow:hidden}
.body_content .containner .bill_print .block4 div{float:left;width:25%}
.body_content .containner .bill_print .block4 div div{float:none;margin-top:105px;width:100%}
.body_content .containner .print_order{position:relative}
.body_content .containner .print_order h1{font-size:22px;font-weight:700;margin-bottom:20px;text-align:center}
.body_content .containner .print_order #print_page{position:absolute;right:0;top:0}
.body_content .containner .print_order #print_page i{font-size:17px;margin-right:5px}
.body_content .containner .print_order #back_page{position:absolute;right:0;top:30px}
.body_content .containner .print_order #back_page i{font-size:17px;margin-right:5px}
.body_content .containner .print_order .row{overflow:hidden;padding:3px 0;padding:6px 0;margin:0}
.body_content .containner .print_order .row li{display:block;float:left;min-width:170px}
.body_content .containner .print_order .row li:nth-child(2){font-weight:700}
.body_content .containner .print_order .row li:nth-child(4){font-weight:700}
.body_content .containner .print_order .row li:nth-child(3){margin-left:20px;min-width:120px}
.body_content .containner .print_order .row li:nth-child(5){margin-left:20px;min-width:120px}
.body_content .containner .print_order .row li:nth-child(6){font-weight:700}
.body_content .containner .print_order .row6 li:nth-child(3){min-width:70px}
.body_content .containner .print_order table{border-collapse:collapse;width:100%}
.body_content .containner .print_order table tr td{border:1px solid #E1e1e1;padding:3px 10px}
.body_content .containner .print_order table tr th{border:1px solid #E1e1e1;padding:3px 10px}
.body_content .containner .print_order table tr.last td{font-weight:700;text-align:right}
.body_content .containner .print_order table tr td:nth-child(4){text-align:right}
.body_content .containner .print_order table tr td:nth-child(5){text-align:right}
.body_content .containner .print_order table tr td:nth-child(6){text-align:right}
.body_content .containner .print_order table tr td:nth-child(7){text-align:right}
.body_content .containner .print_order table tr td:nth-child(8){text-align:right}
.body_content .containner .print_order table tr td:last-child{text-align:right}
.body_content .containner .status_progress{height:60px;margin-bottom:20px;position:relative}
.body_content .containner .status_progress:before{background: #bdbdbd;content:'';height:1px;left:0;position:absolute;top:65%;width:100%;z-index:99;}
.body_content .containner .status_progress:after{background: #bdbdbd;content:'';height:1px;left:0;position:absolute;top:75%;width:100%;}
.body_content .containner .status_progress .orderisdrop{text-align:center}
.body_content .containner .status_progress .orderisdrop a{display:block;font-weight:700;text-transform:uppercase}
.body_content .containner .status_progress .orderisdrop span{background:#000;border-radius:50%;border:2px solid #000;display:block;height:28px;margin:8px auto;position:relative;width:28px;z-index:999;line-height:25px;}
.body_content .containner .status_progress .orderisdrop span i{color:#FFF;margin-right: 0px;}
.body_content .containner .status_progress ul{padding:0}
.body_content .containner .status_progress li{display:block;float:left;position:relative;text-align:center;width:20%}
.body_content .containner .status_progress li:first-child{text-align:left;width:10%}
.body_content .containner .status_progress li:last-child{text-align:right;width:10%}
.body_content .containner .status_progress li a{color:#55595E;display:block}
.body_content .containner .status_progress li span{background:#DBDEDE;border-radius:50%;border: 1px solid #dbdede;display:block;height:25px;margin:11px auto;position:relative;width:25px;z-index:999;}
.body_content .containner .status_progress li:last-child span{float:right;position:absolute;right:-2px;top:19px}
.body_content .containner .status_progress li:first-child span{float:right;left:-2px;position:absolute;top:19px}
.body_content .containner .status_progress li span{text-align:center!important}
.body_content .containner .status_progress li.active a{color:#555}
.body_content .containner .status_progress li.active span.ok i{color:#FFF}
.body_content .containner .status_progress li.active span i{color:#c1c1c1;margin-right: 0px;}
.body_content .containner .status_progress li.active span{background:#46BE8A;border:1px solid #1bc779;}
.body_content .containner .status_progress li.active span.current i{color:#FFF;font-size:15px;margin-top:4px}
.body_content .containner .status_progress li span i{display:block;font-size:21px;margin-top:1px}
.body_content .containner .status_progress .transfer_progress{background:#1BC779;bottom:25%;left:0;position:absolute;top:65%;width:60%}
.body_content .containner .filltertools{background:#fff;border-radius:3px;border:1px solid #E1e1e1;clear:both;display:none;padding:10px}
.body_content .containner .filltertools .list_toolls{position:relative}
.body_content .containner .filltertools .list_toolls ul.dropdownbox{position:absolute;background:#FFF;z-index:99;width:190px;padding:10px;border:1px solid #E1E1E1;top:33px;left:0;border-radius:3px;display:none}
.body_content .containner .filltertools .list_toolls ul.dropdownbox::before{content:'';width:12px;height:12px;position:absolute;background:#FFF;top:-6px;left:25px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);border-left:1px solid #E1e1e1;border-top:1px solid #E1e1e1}
.body_content .containner .filltertools .list_toolls ul.dropdownbox li{padding:3px 0;display:block}
.body_content .containner .filltertools .list_toolls ul.dropdownbox li ul{padding-left:15px}
.clear{clear:both;display:block;margin-bottom:10px;width:100%}
.table_data{margin-top:10px;width:100%}
.table_data table{background-color:#fff;border-collapse:collapse;width:100%;font-size:13px}
.table_data table tr th{background:#F6F6f6;border:1px solid #E1e1e1;padding:10px;white-space: nowrap;}
.table_data table tr td{border:1px solid #E1e1e1;padding:8px 10px}
.table_data table tr td i.fa{font-size:16px!important}
.table_data table tr th.th_action{width:170px}
.table_data table tr th.th_state{width:150px}
.table_data table tr th.th_stt{width:30px}
.table_data table tr th.th_action_min{width:80px}
.table_data table tr td a.td_link_edit{margin-right:10px}
.table_data table tr:hover td{background:#CFF7E3}
.body_content .containner .header_targets .block2{clear:both;overflow:hidden;position:relative}
.body_content .containner .header_targets .block2:before{background:#e1e1e1;border-bottom:1px solid #FFF;bottom:0;content:'';height:2px;left:0;position:absolute;width:100%}
.body_content .containner .header_targets .block2 a{background:#F3f3f3;border-radius:3px 3px 0 0;border:1px solid #E1e1e1;float:left;margin-left:10px;padding:5px 10px}
.body_content .containner .header_targets .block2 a:first-child{margin-left:0}
.body_content .containner .header_targets .block2 a.current{background:#FFF;border-bottom:1px solid #FFF;font-weight:700;position:relative}
.body_content .containner .content_targets{background-color:#fff;border-radius:0 0 3px 3px;box-shadow:0 0 3px #ccc;padding:0 15px 15px;overflow:hidden}
.body_content .containner .content_targets .year_content .block1{padding-top:15px}
.body_content .containner .content_targets .year_content .block1 a.btn i{color:#FFF;margin-right:5px}
.body_content .containner .content_targets .year_content .block1 button.btn i{color:#FFF;margin-right:5px}
.body_content .containner .content_targets .year_content .block2{margin-top:15px;overflow:hidden}
.body_content .containner .content_targets .year_content .block2_1{border:1px solid #E1e1e1;left:0;margin-left:0;padding:10px;position:relative;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;background-color:#fff}
.body_content .containner .content_targets .year_content .block2_1 table{width:100%}
.body_content .containner .content_targets .year_content .block2_1 table tr td{padding:5px 0}
.body_content .containner .content_targets .year_content .block2_1 table tr th{border-bottom:1px solid #E1e1e1;padding-bottom:5px;padding-left:20px}
.body_content .containner .content_targets .year_content .block2_1 table tr td:nth-child(1){width:120px}
.body_content .containner .content_targets .year_content .block2_1 table tr td:nth-child(2){width:150px}
.body_content .containner .content_targets .year_content .block2_1 table tr td:nth-child(3){width:150px}
.body_content .containner .content_targets .year_content .block2_1 table tr td:nth-child(4){width:150px}
.body_content .containner .content_targets .year_content .block2_1 table tr td span{float:left;width:120px}
.body_content .containner .content_targets .year_content .block2_1 table tr td input[type="number"]{border:1px solid #E1e1e1;display:none;float:left;padding:3px 2px 3px 10px;text-align:right;width:130px}
.body_content .containner .content_targets .year_content .block2_1 table tr td a{border:1px solid #e1e1e1;display:block;float:left;height:30px;line-height:27px;margin:0;padding-right:18px;text-align:right;width:130px}
.body_content .containner .content_targets .year_content .block2_1 table tr td.red{color:red}
.body_content .containner .content_targets .year_content .block2_1 table tr td.green{color:#090}
.body_content .containner .content_targets .year_content .block2_2{background-color:#fff;border:1px solid #E1e1e1;float:right;margin-top:20px;width:100%}
.body_content .containner .content_targets .year_content .block2_2 h2{background:#EEE;border-bottom:1px solid #E1e1e1;font-size:19px;padding:7px 10px;margin:0}
.body_content .containner .content_targets .year_content .block2_2 .department_list_targets{float:left;margin-top:10px;width:33%}
.body_content .containner .content_targets .year_content .block2_2 .department_list_targets .row{padding:5px 15px}
.body_content .containner .content_targets .year_content .block2_2 .department_list_targets .row span{float:left;margin-left:10px;width:120px}
.body_content .containner .content_targets .year_content .block2_2 .department_list_targets .row input[type="number"]{border:1px solid #E1e1e1;display:none;float:left;padding:2px 2px 2px 10px;text-align:right;width:120px}
.body_content .containner .content_targets .year_content .block2_2 .department_list_targets .row a{border:1px solid #E1e1e1;float:left;margin:0;padding:2px 10px;text-align:right;width:120px}
.body_content .containner .content_targets .year_content .block2_2 .department_list_targets h3{border-bottom:1px solid #E1e1e1;font-weight:700;margin-bottom:5px;margin-left:10px;margin-top:10px;padding-bottom:5px}
.body_content .containner .content_targets .month_content .block1{margin-top:15px}
.body_content .containner .content_targets .month_content .block1 a.btn i{color:#FFF;margin-right:5px}
.body_content .containner .content_targets .month_content .block1 button.btn i{color:#FFF;margin-right:5px}
.body_content .containner .content_targets .month_content .block2_1{margin-top:15px}
.body_content .containner .content_targets .month_content .block2_1 table{width:100%;border-collapse:collapse}
.body_content .containner .content_targets .month_content .block2_1 table tr th{padding:5px 3px;border:1px solid #E1e1e1;background:#eee}
.body_content .containner .content_targets .month_content .block2_1 table tr td{padding:5px 3px;border:1px solid #E1e1e1}
.body_content .containner .content_targets .month_content .block2_1 table tr td input{border:none;display:none}
.body_content .containner .content_targets .month_content .block2_2 table{width:100%;border-collapse:collapse;margin-top:20px}
.body_content .containner .content_targets .month_content .block2_2 table tr:first-child td{background:#EEE;font-weight:700;text-transform:uppercase;padding:10px 5px;text-align:center}
.body_content .containner .content_targets .month_content .block2_2 table tr th{padding:5px 3px;border:1px solid #E1e1e1;background:#eee}
.body_content .containner .content_targets .month_content .block2_2 table tr td{padding:5px 3px;border:1px solid #E1e1e1}
.body_content .containner .content_targets .month_content .block2_2 table tr td input{border:none;width:110px;display:none;outline:none}
.body_content .containner .content_targets .team_content .block1{margin-top:15px}
.body_content .containner .content_targets .team_content table{width:100%;border-collapse:collapse;margin-top:10px}
.body_content .containner .content_targets .team_content table tr td{border:1px solid #e1e1e1;padding:5px}
.body_content .containner .content_targets .team_content table tr th{background:#EEE;border:1px solid #e1e1e1}
.body_content .containner .content_targets .team_content table tr td input{border:none;outline:none;display:none;width:100%}
.body_content .containner .content_targets .month_content .block2_1{margin-top:15px}
.body_content .containner .content_targets .team_content .block1{margin-top:15px}
.body_content .containner .content_targets .team_content .block3 table tr td.green{background:#B9F7BE}
.body_content .containner .content_targets .team_content .block3 table tr td.yellow{background:#F5F585}
.body_content .containner .content_targets .team_content .block3 table tr td.red{background:#F18E8E}
.body_content .containner .quick_view{margin-top:50px;overflow:hidden}
.body_content .containner .quick_view .color_view_chart{text-align:center;margin-bottom:10px}
.body_content .containner .quick_view .color_view_chart span{padding:10px;display:inline-block;margin-top:5px;margin-right:8px;transition:all .5s;border:1px solid #FFF}
.body_content .containner .quick_view .color_view_chart span:hover{padding:12px;cursor:pointer}
.body_content .containner .quick_view .color_view_chart span.current{padding:12px;border:1px solid #999}
.body_content .containner .quick_view .current_view_chart{text-align:center}
.body_content .containner .quick_view .current_view_chart span{color:#27c}
.body_content .containner .quick_view #canvas_Doughnut2,.body_content .containner .quick_view #canvas_Doughnut3{display:none}
.body_content .containner .quick_view .block1{float:left;width:40%}
.body_content .containner .quick_view .block2{float:right;width:60%}
.body_content .containner .quick_view .block2 table{background-color:#fff;border-collapse:collapse;border-radius:3px;box-shadow:0 0 3px #ccc;width:100%}
.body_content .containner .quick_view .block2 table *{font-size:13px}
.body_content .containner .quick_view .block2 table tr td{padding:5px 10px;line-height:23px}
.body_content .containner .quick_view .block2 table tr td i{float:right;padding:5px 10px;cursor:pointer}
.body_content .containner .quick_view .block2 table tr td i:hover{color:#27c}
.body_content .containner .quick_view .block2 table tr.trsource{background:#D8FFD5}
.body_content .containner .quick_view .block2 table tr th{border-bottom:1px solid #c7cacb;padding:5px 10px}
.body_content .containner .quick_view .block2 table tr:last-child{border-top:1px solid #c7cacb}
.body_content .containner .box_content_warehouse .block2{position:relative}
.body_content .containner .box_content_warehouse .block2 ul li ul{background:#F6F6F6;border:1px solid #E1e1e1;display:none;left:0;padding:5px 0;position:absolute;top:48px;width:150px}
.body_content .containner .box_content_warehouse .block2 ul li ul:before{background:#f6f6f6;border-left:1px solid #E1e1e1;border-top:1px solid #E1e1e1;content:"";display:block;height:15px;left:17px;position:absolute;top:-8px;transform:rotate(45deg);width:15px}
.body_content .containner .box_content_warehouse .block2 ul li ul li a{border-bottom:1px solid #e1e1e1;border:none;margin:0 5px;padding:5px 10px;display:inline-block}
.body_content .containner .box_content_warehouse .block2 ul li ul li a i{margin-right:5px}
.body_content .containner .box_content_warehouse .block2 ul li ul li:last-child a{border-bottom:none}
.body_content .containner .box_content_warehouse .table_donhang tr th{background:#EEE;border:1px solid #E1e1e1;padding:5px}
.body_content .containner .box_content_warehouse .table_donhang tr td{border:1px solid #E1e1e1;padding:5px}
.body_content .containner .box_content_warehouse .table_donhang tr th:nth-child(1){text-align:center;width:30px}
.body_content .containner .box_content_warehouse .table_donhang tr td:nth-child(1){text-align:center;width:30px}
.body_content .containner .box_content_warehouse .table_donhang tr td input[type="text"]{height:30px;padding:3px 5px;width:100%}
.body_content .containner .box_content_warehouse .table_donhang div{margin-top:10px}
.body_content .containner .box_content_warehouse .table_donhang div a{color:#FFF;float:right;font-size:12px;font-weight:700;padding:5px 10px;text-transform:uppercase}
.body_content .containner .box_content_warehouse .table_donhang div a i{color:#FFF;margin-right:5px}
.body_content .containner .box_content_warehouse_import .block2{position:relative}
.body_content .containner .box_content_warehouse_import .block2 ul li ul{background:#F6F6F6;border:1px solid #E1e1e1;display:none;left:40px;padding:5px 0;position:absolute;top:48px;width:150px}
.body_content .containner .black .box_inner .block2_inner .btn-box-inner,.body_content .containner .select_progress .block2 .compare a#showcompare,.body_content .containner .import_orderlist .block2 .block_2_1 a.btn,.body_content .containner .import_order_info .block2 a.btn,.body_content .containner .content_targets .year_content .block1 a.btn,.body_content .containner .content_targets .month_content .block1 a.btn,.body_content .containner .content_targets .team_content .block2 a.btn,.body_content .containner .box_content_warehouse .block2 a.btn,.body_content .containner .box_content_warehouse_import .block2 a.btn,#test_result{float:left;margin-right:15px}
.body_content .containner .box_content_warehouse_import .block2 ul li ul:before{background:#f6f6f6;border-left:1px solid #E1e1e1;border-top:1px solid #E1e1e1;content:"";display:block;height:15px;left:17px;position:absolute;top:-8px;transform:rotate(45deg);width:15px}
.body_content .containner .box_content_warehouse_import .block2 ul li{display:block}
.body_content .containner .box_content_warehouse_import .block2 ul li ul li a{padding:5px 10px;display:inline-block}
.body_content .containner .box_content_warehouse_import .block2 ul li ul li a i{margin-right:5px}
.body_content .containner .box_content_warehouse_import .block2 ul li ul li:last-child a{border-bottom:none}
.body_content .containner .box_content_warehouse_import .table_donhang tr th{background:#F6F6F6;border:1px solid #E1e1e1;padding:5px}
.body_content .containner .box_content_warehouse_import .table_donhang tr td{border:1px solid #E1e1e1;padding:5px}
.body_content .containner .box_content_warehouse_import .table_donhang tr th:nth-child(1){text-align:center;width:30px}
.body_content .containner .box_content_warehouse_import .table_donhang tr td:nth-child(1){text-align:center;width:30px}
.body_content .containner .box_content_warehouse_import .table_donhang tr td input[type="text"]{height:30px;padding:3px 5px;width:100%}
.body_content .containner .box_content_warehouse_import .table_donhang #inner_table_pxk table{width:100%}
.body_content .containner .box_content_warehouse_import .table_donhang #inner_table_pxk table *{font-size:13px}
.body_content .containner .box_content_warehouse_import .table_donhang #inner_table_pxk table tr td:nth-child(1){text-align:left;width:110px}
.body_content .containner .box_content_warehouse_import .table_donhang #inner_table_pxk table tr td i.unchecked{color:#c1c1c1;display:block;font-size:16px;margin:0 26px}
.body_content .containner .box_content_warehouse_import .table_donhang #inner_table_pxk table tr td i.checked{color:#45DA45;display:block;font-size:16px;margin:0 26px}
.body_content .containner .box_content_warehouse_import .btnsubmit button{background:#1A82C3;border:1px solid #2477CA;color:#FFF;float:right;font-size:12px;font-weight:700;height:36px;padding:6px 10px;text-transform:uppercase}
.body_content .containner .box_content_warehouse_import .btnsubmit button i{color:#FFF;margin-right:5px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th{font-size:12px;text-align:center}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(4){width:60px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(5){width:120px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(6){width:80px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(7){width:80px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(8){width:100px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(9){width:100px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(10){width:110px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr th:nth-child(11){width:110px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:nth-child(4){width:60px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:nth-child(5){width:120px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:nth-child(6){width:80px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:nth-child(7){width:80px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:nth-child(8){width:100px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:nth-child(9){width:100px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:nth-child(10){width:110px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td:last-child{text-align:right;width:110px}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td select{border:1px solid #c1c1c1;height:28px;padding:3px 5px;width:100%}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td input[type="text"]{border:1px solid #c1c1c1;height:28px;padding:3px 5px;width:100%}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td input[type="number"]{border:1px solid #c1c1c1;height:28px;padding:3px 5px;width:100%}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td .Amount_input{text-align:right}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td .ValueCurrency_input{text-align:right}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td .PriceCurrency_input{text-align:right}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr td .TotalCurrency_input{text-align:right}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr:last-child{font-weight:700}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr:last-child td{font-size:15px;padding:10px 5px;text-align:right}
.body_content .containner .box_content_warehouse_import .table_donhang .table_data tr:last-child td *{font-size:15px}
.body_content .containner .box_content_warehouse_import .table1_balance tr td{min-width:120px;padding:5px}
.body_content .containner .box_content_warehouse_import .table1_balance tr td:nth-child(1){padding-left:0}
.body_content .containner .box_content_warehouse_import .table1_balance tr td:nth-child(3){text-align:right}
.body_content .containner .box_content_warehouse_import .table1_balance tr td input{border:1px solid #C1c1c1;height:28px;padding:5px;width:180px}
.body_content .containner .box_content_warehouse_import .table1_balance tr td select{border:1px solid #C1c1c1;height:28px;padding:5px;width:100px}
.body_content .containner .box_content_warehouse_import #table2_balance{border-collapse:collapse;clear:both;width:100%}
.body_content .containner .box_content_warehouse_import #table2_balance tr th{background:#f5f5f5;border:1px solid #ccc;font-size:12px;padding:5px;text-align:center;text-transform:uppercase}
.body_content .containner .box_content_warehouse_import #table2_balance tr th .name_warehouse{color:#EF280F;font-weight:700}
.body_content .containner .box_content_warehouse_import #table2_balance tr td{border:1px solid #ccc;padding:8px}
.body_content .containner .box_content_warehouse_import #table2_balance tr td input{border:1px solid #c1c1c1;height:28px;padding:5px;width:88px}
.body_content .containner .box_content_warehouse_import #table2_balance tr td select{border:1px solid #c1c1c1;height:28px;width:88px}
.progress_second{background:#FFF;border:1px solid #E1e1e1;height:50px;margin:0 auto;overflow:hidden;position:relative;text-align:center;z-index:999}
.progress_second a.backpage{background:#FFF;border-radius:0;border-right:1px solid #E1e1e1;cursor:pointer;float:left;height:50px;line-height:45px;padding:0 10px}
.progress_second ul{float:left;margin:0;padding:0 10px}
.progress_second li *{font-size:12px;line-height:35px}
.progress_second li{display:block;float:left;margin-right:15px;padding:8px 5px;text-align:left}
.progress_second li:last-child{border-radius:0 15px 15px 0}
.progress_second li span{border-radius:50%;color:#FFF;display:block;float:left;font-weight:700;height:22px;line-height:22px;margin-right:10px;text-align:center;width:22px}
.progress_second li span.active i{color:#04BF7C}
.progress_second li span i.fa-refresh{color:#c1c1c1;font-size:20px;margin-top:1px}
.progress_second li span.active i.fa-refresh{color:#EFA85D;font-size:20px;margin-top:1px}
.progress_second li span i{color:#c1c1c1;color:#FFF;font-size:23px}
.disableedit{background:#FFF;cursor:not-allowed;height:100%;display:block;left:0;opacity:0;position:absolute;top:0;/* width:100%; */z-index:9;}
#test_result{display:block}
.saved{background:#f6f6f6}
.saving{background:#EEE url(../images/loading.gif) 5px 50% no-repeat!important;border:1px solid #E1e1e1!important;color:#555!important;padding-left:30px!important}
.saving i{display:none}
.daterangepicker{width:750px;z-index:9999991}
.daterangepicker *{outline:none}
.daterangepicker select{border:1px solid #E1e1e1;padding:3px}
.daterangepicker .left{float:left;margin-right:15px;padding:10px}
.daterangepicker .left *{font-size:12px;text-align:center}
.daterangepicker td:hover{background:#EEE;cursor:pointer}
.daterangepicker .right{float:left;margin-right:15px;padding:10px}
.daterangepicker .right *{font-size:12px;text-align:center}
.daterangepicker td.start-date{background:#29d;color:#FFF}
.daterangepicker td.end-date{background:#29d;color:#FFF}
.daterangepicker td.in-range{background:rgba(34,153,221,0.25)}
.daterangepicker td.disabled{color:#c1c1c1}
.daterangepicker td.off{color:#c1c1c1}
.daterangepicker .ranges{float:right;margin-right:10px;width:220px}
.daterangepicker .ranges *{font-size:13px}
.daterangepicker .ranges ul{margin:0;padding:0}
.daterangepicker .ranges ul li{cursor:pointer;display:block;float:left;padding:4px 0;width:50%}
.daterangepicker .ranges ul li:hover{color:#62a8ea}
.daterangepicker .ranges ul li.active{font-weight:700}
.daterangepicker .ranges .range_inputs{border-top:1px solid #EEE;clear:both;padding-top:10px}
.daterangepicker .ranges .range_inputs > div{float:left;margin-bottom:10px;overflow:hidden;width:50%}
.daterangepicker .ranges .range_inputs > div input{border:1px solid #E1e1e1;line-height:18px;outline:none;padding:4px 5px;width:90%}
.containner .products_containner .head_products{height:28px}
.containner .products_containner .head_products .block1{border-right:1px solid #ccc;float:left;margin-right:20px;padding-right:20px}
.containner .products_containner .head_products .block1 h1{font-size:19px;font-weight:700;margin:0}
.containner .products_containner .head_products .block2{float:left}
.containner .products_containner .head_products .block2 span{margin-right:10px}
.containner .products_containner .head_products .block3{float:right}
.containner .products_containner .head_products .block3 .btn i{color:#FFF;margin-right:5px}
.containner .products_containner .content_products{clear:both;margin-top:18px}
.containner .products_containner .content_products .control_tab{border-bottom:1px solid #e1e1e1;height:38px;width:100%}
.containner .products_containner .content_products .control_tab a{background:#f5f5f5;border-radius:3px 3px 0 0;border:1px solid #E1e1e1;box-shadow:0 -2px 5px #E9E9E9 inset;display:inline-block;height:38px;padding:8px 13px}
.containner .products_containner .content_products .control_tab a.current{background:#FFF;border-bottom:1px solid #FFF;box-shadow:none;font-weight:700}
.containner .products_containner .content_products .content_tab{background:#FFF;border:1px solid #e6e6e6;border-top:none;display:none;padding:15px}
.containner .products_containner .content_products .content_tab1{display:block}
.containner .products_containner .content_products .content_tab4 table{width:100%}
.containner .products_containner .content_products .content_tab4 table tr:first-child td{border-bottom:1px solid #eee;border-top:1px solid #eee;background:#f3f3f3}
.containner .products_containner .content_products .content_tab4 table td{padding:5px}
.containner .products_containner .content_products .content_tab4 table td:nth-child(1){width:120px}
.containner .products_containner .content_products .content_tab4 table td:nth-child(1) .image_row{position:relative;overflow:hidden}
.containner .products_containner .content_products .content_tab4 table td:nth-child(1) .image_row input{position:absolute;padding-left:120px;cursor:pointer;bottom:0;left:0;outline:none}
.containner .products_containner .content_products .content_tab4 table td:nth-child(1) .image_row i{display:block;position:absolute;left:0;bottom:0;background:#eee;padding:3px;font-size:12px;border:1px solid #E8e8e8}
.containner .products_containner .content_products .content_tab4 table td:nth-child(1) .image_row .progress{display:none}
.containner .products_containner .content_products .content_tab4 table td:nth-child(3){width:60px}
.containner .products_containner .content_products .content_tab4 table td:nth-child(4){width:80px}
.containner .products_containner .content_products .content_tab4 table td:nth-child(5){width:80px}
.containner .products_containner .content_products .content_tab4 table td:nth-child(6){width:120px}
.containner .products_containner .content_products .content_tab6 ul{margin-left:0;padding:0}
.containner .products_containner .content_products .content_tab6 ul li ul{margin-left:30px}
.containner .products_containner .content_products .content_tab6 ul li{display:block;overflow:hidden;padding:5px 0}
.containner .products_containner .content_products .content_tab6 ul li span{background:#EEE;border:1px solid #E1e1e1;cursor:pointer;float:left;height:20px;line-height:18px;margin-right:10px;text-align:center;width:20px}
.containner .products_containner .content_products .content_tab6 .current_categories{border:1px solid #E1e1e1;margin-bottom:20px;margin-top:5px;overflow:hidden;padding:5px 10px}
.containner .products_containner .content_products .content_tab6 .current_categories a{background:#E5F6FD;border:1px solid #BFE7F7;float:left;font-size:12px;line-height:30px;margin-bottom:5px;margin-right:15px;padding-left:8px}
.containner .products_containner .content_products .content_tab6 .current_categories a input{display:none}
.containner .products_containner .content_products .content_tab6 .current_categories a i{border-left:1px solid #BFE7F7;float:right;font-size:12px;margin-left:10px;padding:9px}
.containner .products_containner .content_products .content_tab10 .col-xs-4{margin-bottom:20px}
.containner .products_containner .content_products .content_tab10 .col-xs-4 .panel{padding:10px;height:160px}
.containner .products_containner .content_products .content_tab10 .col-xs-4 .panel:hover{border:1px solid #F96868}
.containner .products_containner .content_products .content_tab10 .col-xs-4 .panel .col-xs-3 a{text-align:center;display:block;margin-top:10px}
.containner .products_containner .content_products .content_tab10 .col-xs-4 .panel .col-xs-3 a i{font-size:22px;margin-bottom:5px;color:#ccc}
.containner .products_containner .content_products .content_tab10 .col-xs-4 .panel .col-xs-3 a.active i{color:#46be8a}
.containner .box_training_tab .control_tab{border-bottom:1px solid #e1e1e1;height:38px;width:100%}
.containner .box_training_tab .control_tab a{background:#f5f5f5;border-radius:3px 3px 0 0;border:1px solid #E1e1e1;box-shadow:0 -2px 5px #E9E9E9 inset;display:inline-block;height:38px;padding:8px 13px}
.containner .box_training_tab .control_tab a.current{background:#FFF;border-bottom:1px solid #FFF;box-shadow:none;font-weight:700}
.containner .box_training_tab .content_tab{background:#FFF;border:1px solid #e6e6e6;border-top:none;display:none;padding:15px}
.containner .box_training_tab .content_tab > div > li{display:block;float:left;line-height:30px;min-width:130px}
.containner .box_training_tab .content_tab > div > li input{border-radius:3px;border:1px solid #c1c1c1;height:30px;padding:5px 8px;width:200px}
.containner .products_containner .content_products .content_tab8 > div{margin:0;padding:0}
.containner .products_containner .content_products .content_tab8 > div select{border:1px solid #c1c1c1;height:32px}
.containner .products_containner .content_products .content_tab8 .variant_row{background:#FFF;border:1px solid #E1e1e1;margin-top:10px;padding:0 15px;position:relative}
.containner .products_containner .content_products .content_tab8 .variant_row .minitools{border-left:none;border:1px solid #E1e1e1;position:absolute;right:-1px;top:-1px}
.containner .products_containner .content_products .content_tab8 .variant_row .minitools a{background:#EEE;border-left:1px solid #E1e1e1;float:left;padding:10px 14px;height:36px}
.containner .products_containner .content_products .content_tab8 .variant_row .properties_option{background:#EEE;border-bottom:1px solid #E1e1e1;margin-left:-15px;margin-right:-15px;overflow:hidden;padding:0 15px}
.containner .products_containner .content_products .content_tab8 .variant_row .properties_option li{display:block;float:left;margin-right:20px}
.containner .products_containner .content_products .content_tab8 .variant_row .properties_option li:nth-child(1){border-right:1px solid #E1e1e1;padding-right:20px}
.containner .products_containner .content_products .content_tab8 .variant_row .properties_option li select{border:1px solid #ccc;height:26px;margin-left:10px;padding:0 5px}
.containner .products_containner .content_products .content_tab8 .variant_row .properties_option li b{line-height:36px}
.containner .products_containner .content_products .content_tab8 .variant_row .list-preview-images{margin-bottom:10px}
.containner .products_containner .content_products .content_tab8 .variant_row .list-preview-images .col-xs-3{margin-bottom:5px;cursor:pointer;height:45px;overflow:hidden;position:relative}
.containner .products_containner .content_products .content_tab8 .variant_row .list-preview-images .col-xs-3 .status_primary{position:absolute;bottom:0;left:18px}
.containner .products_containner .content_products .content_tab8 .variant_row .list-preview-images .col-xs-3 img{border:1px solid #FFF}
.containner .products_containner .content_products .content_tab8 .variant_row .list-preview-images .col-xs-3 .select_image{border:1px solid #CCC}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td .image_variant img{width:100%}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td .image_variant .progress{border-radius:0;display:none;position:relative}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td .image_variant .progress .bar{background:#DE3C3C;height:100%;left:0;position:absolute;top:0;width:0}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td .image_variant .progress .percent{color:#000;font-size:10px;position:relative}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td p{clear:both}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td p a{color:#0C98EC;margin-left:10px;text-decoration:underline}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td a.btn{margin-left:0}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td .date_div{display:none;float:left;width:152px}
.containner .products_containner .content_products .content_tab8 .variant_row table tr td .date_div input{width:148px}
.containner .products_containner .content_products .content_tab8 .select_properties_variant{border:1px solid #E1e1e1;display:none;margin-top:10px;padding:10px}
.containner .products_containner .content_products .content_tab8 .select_properties_variant p{border-bottom:1px solid #E1e1e1;font-weight:700;margin-bottom:10px;padding-bottom:5px}
.containner .products_containner .content_products .content_tab8 .select_properties_variant div{float:left;margin-right:25px}
.containner .products_containner .content_products .content_tab8 .select_properties_variant a.btn{margin:10px 0 0}
.containner .box_training_tab .content_tab2 h4{float:left}
.containner .box_training_tab .content_tab2 .title_tab_button{overflow:hidden}
.containner .box_training_tab .content_tab1{background-color:#fff;box-shadow:0 0 3px #ccc border-radius:0 0 3px 3px;display:block;margin-top:0;padding:15px;overflow:hidden}
.accept_cancel_box{background:#FBE1E1;border:1px solid #E49D9D;margin-bottom:30px;padding:20px}
.accept_cancel_box table{width:100%}
.accept_cancel_box table tr td:first-child{width:200px}
.accept_cancel_box table tr td{padding:5px}
.accept_cancel_box table tr td a.btn{background:#F15656;border:1px solid #DE1F1F;color:#FFF;float:right;height:36px;padding:6px 10px}
.accept_cancel_box table tr td a.btn i{color:#FFF;font-size:16px;margin-right:5px}
.accept_cancel_box_success{background:#D7F9D7;border:1px solid #58B958}
.accept_cancel_box_success table tr td a.btn{background:#0CB30C;border:1px solid #090}
.message_waitingonrack{clear:both;margin-bottom:5px;overflow:hidden}
.message_waitingonrack p{float:left;margin-right:30px}
.containner .warehouse_transaction{width:100%;display:inline-table}
.containner .warehouse_transaction .block1{border-bottom:1px solid #e1e1e1;box-shadow:0 1px 0 #FFF;overflow:hidden}
.containner .warehouse_transaction .block1_1{float:left}
.containner .warehouse_transaction .block1_1 h1{font-size:22px;font-weight:700;margin-top:10px;text-transform:uppercase}
.containner .warehouse_transaction .block1_2{float:right}
.containner .warehouse_transaction .block1_2 select{height:32px;padding:5px 10px}
.containner .warehouse_transaction .block2{margin-top:20px}
.containner .warehouse_transaction .block2 .warehouse_box{float:left;margin-bottom:20px;margin-left:4%;width:48%}
.containner .warehouse_transaction .block2 .warehouse_box:nth-child(2n+1){margin-left:0}
.containner .warehouse_transaction .block2 .warehouse_box table{border-collapse:collapse;border-radius:3px;box-shadow:0 0 3px #ccc;width:100%;background:#FFF}
.containner .warehouse_transaction .block2 .warehouse_box table tr th{background:#f3f3f3;border-bottom:1px solid #e1e1e1;padding:5px;text-align:center}
.containner .warehouse_transaction .block2 .warehouse_box table tr td{border-right:1px solid #e1e1e1;padding:5px 0;vertical-align:top;width:50%}
.containner .warehouse_transaction .block2 .warehouse_box table tr td:last-child{border:none}
.containner .warehouse_transaction .block2 .warehouse_box table tr td a{display:block;padding:3px 0 3px 18px}
.containner .warehouse_transaction .block2 .warehouse_box table tr td a:hover{text-decoration:underline}
.containner .warehouse_transaction .block2 .warehouse_box table tr td a span{display:none}
.containner .warehouse_transaction .block2 .warehouse_box table tr td a span b{color:#FFF;font-size:12px;font-weight:400}
.containner .warehouse_transaction .block2 .warehouse_box table tr td a.hightlight span{background:gray none repeat scroll 0 0;border-radius:16px;color:#fff;display:inline-block;font-size:11px;margin-left:5px;padding:0 6px;line-height:18px}



/*
*Bonus Css
*/
.lichsugiaodich table{width:100%;background:#FFF;margin:10px 0px;border:1px solid #e1e1e1;}
.lichsugiaodich table tr td{padding:5px 10px;}
.lichsugiaodich table tr th{padding:10px;border-bottom:1px solid #E1e1e1;}
.width50{width:50px !important;}
.width150{width: 150px !important;}
#bundle-list .col-xs-9 a.pull-right.btn.btn-default{width:36px;height:34px;}
.onoff{background:#FFF;border:1px solid #e1e1e1;}
.onoff label{padding:6px 15px;float:left;margin:0px;cursor:pointer;}
.onoff label.active{background:#27c;color:#FFF;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;}

.table1 tr td{padding:5px 10px;vertical-align:middle;}

.item_trace{position:relative;min-height: 110px;}
.item_trace .item_trace_point{width:40px;height:40px;line-height:40px;background: #EEE;text-align:center;border-radius:50%;display:block;margin:10px auto;border: 1px solid #E1e1e1;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;}
.item_trace .item_trace_title{background: #DEEFFF;color: #555;padding:10px;border-radius:3px;border: 1px solid #C0D8EF;}
.item_trace .item_trace_point.active{border: 1px solid #0C9269;color:#FFF;background: #34B58E;-webkit-animation-name: effectzoom;-webkit-animation-duration: 1s;animation-name: effectzoom;animation-duration: 1s;}
.item_trace .item_trace_point.active.last{background: #EF5757;border: 1px solid #BB0808;animation:effectzoom 1s infinite;-moz-animation:effectzoom 1s infinite;-webkit-animation:effectzoom 1s infinite;}
.item_trace .item_trace_name i{font-style:normal;font-size:12px;color:#999;}
.item_trace_left .item_trace_title:before{content:'';position:absolute;width: 12px;height: 12px;background: #DEEFFF;top: 18px;right: 0px;margin-right: 9px;transform:rotate(45deg);border-top: 1px solid #C0D8EF;border-right: 1px solid #C0D8EF;}
.item_trace_right .item_trace_title:before{content:'';position:absolute;width: 12px;height: 12px;background: #DEEFFF;top: 18px;left: 0px;margin-left: 9px;transform:rotate(45deg);border-bottom: 1px solid #C0D8EF;border-left: 1px solid #C0D8EF;}
.item_point_right:after{content:'';position:absolute;width:5px;height:100px;top:0px;left:50%;background:#27c;}
#trace_progress{position:absolute;top:50px;bottom: 100%;width:6px;background: #0D936A;left:50%;margin-left:-3px;transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s}


#placeholder { width: 100%; height: 430px; position: relative; margin: 0 auto; }
.legend table, .legend > div {pacity: 1 !important;right: 55px;top: 20px;width: 116px !important;}
.legend table {border: 1px solid #e1e1e1;}
.legend table tr td{padding:0px 5px;}
#flot-tooltip { font-size: 15px; font-family: arial; position: absolute; display: none; border: 2px solid; padding: 2px; background-color: #FFF; opacity: 0.8; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.fillter_user{position: absolute;top: 39px;left: -1px;background:#FFF;padding:10px 15px;max-height:350px;overflow-y:scroll;border:1px solid #E1e1e1;box-shadow: 1px 1px 3px #eee;width: 230px;z-index:99;}
.fillter_user ul{margin:0px;padding:0px;}
.fillter_user ul li{display:block;padding:2px 0px;font-weight:normal;}
.fillter_user ul li:first-child{margin-bottom:8px;margin-top:3px;}
.fillter_user ul li a{margin-right:10px;background:#EEE;padding:3px 5px;border:1px solid #E1e1e1;border-radius:3px;}
.fillter_user ul li a i{margin-right:3px;}
.fillter_user ul li input{margin-right:10px;}
.fillter_user::-webkit-scrollbar {background-color:#eee;width:5px;}
.fillter_user::-webkit-scrollbar-thumb {background-color:#999;border-radius:10px;}
.fillter_user::-webkit-scrollbar-thumb:hover {background-color:#888;border:1px solid #888;}
.fillter_user::-webkit-scrollbar-thumb:active {background-color:#999;border:1px solid #999;}

.import_order_info{position:relative;}
.import_order_info .row .col-xs-6.col-sm-4,.import_order_info .row > .col-xs-12{margin-bottom:10px;}

.step_number_title{overflow:hidden;line-height:40px;border-radius:40px 10px 10px 40px;width:460px;}
.step_number_title span{background: #6eca7a;color:#FFF;width:40px;float:left;text-align:center;height:40px;margin-right:20px;border-radius:50%;}




@-webkit-keyframes effectzoom {
    0%   {-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
    50%  {-moz-transform: scale(1.2);-webkit-transform: scale(1.5);-o-transform: scale(1.5);-ms-transform: scale(1.5);transform: scale(1.5);}
    100% {-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
}

@keyframes effectzoom {
    0%   {-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
    50%  {-moz-transform: scale(1.2);-webkit-transform: scale(1.5);-o-transform: scale(1.5);-ms-transform: scale(1.5);transform: scale(1.5);}
    100% {-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
}

.sitebar::-webkit-scrollbar {background-color:#eee;width:0px;}
.sitebar::-webkit-scrollbar-thumb {background-color:#999;border-radius:10px;}
.sitebar::-webkit-scrollbar-thumb:hover {background-color:#888;border:1px solid #888;}
.sitebar::-webkit-scrollbar-thumb:active {background-color:#999;border:1px solid #999;}

#table_data .categories_a{display:block;text-align:left;}

.state_affiliate{margin:0px;overflow:hidden;height:50px;text-align: left;}
.state_affiliate a{text-align: center;padding:10px 20px;min-width:100px;background: #fafafa;border:1px solid #eee;display: inline-block;}
.state_affiliate a.arrow{min-width: 50px;background: none;border: none}
/*
**************************************
*   PRINT     *
*                                    *
**************************************
*/


/* Begin print mobile */

@media print {
.print_number_links,#print_number_links{display:none !important;}
.body_content { 
width:17cm;
overflow:visible !important;
}
.body_content .header, .body_content .sitebar {display:none}
.body_content .containner {
margin:0;
padding:0;
overflow:visible !important;
width:1200px;
}
.body_content .version {display:none}
.body_content .containner{border:none;box-shadow:0px 0px 0px #FFF}
.body_content .containner table tr th, .body_content .containner table tr td {border-color:#555 !important}
.body_content .containner .export_internal{border:1px solid #555 !important;width:1100px;margin-top:20px;}
.body_content .containner .export_internal .block1 > #table1{width:100% !important;}
.body_content .containner .export_internal .block1_2{}
.body_content .containner .export_internal .block1_3{}
.body_content .containner .export_internal .block3 table{width:100% !important;}
.body_content .containner .export_internal .block4 div{width:17%}
.body_content .containner .bill_print {margin-left:0;margin-top:20px;}
.body_content .containner .bill_print * {font-size:15px}
.body_content .containner .bill_print .block1 {margin-bottom:10px}
.body_content .containner .bill_print .block1 .block1_1 {width:28%}
.body_content .containner .bill_print .block1 .block1_1 * {font-size:15px}
.body_content .containner .bill_print .block1 .block1_2 h1 {margin-top:10px !important}
.body_content .containner .bill_print .block1 .block1_3 {
float:left;
width:22%;
}
.body_content .containner .bill_print .block1 .block1_3 * {font-size:15px}
.body_content .containner .bill_print .block2 .row li:nth-child(3) {min-width:140px}
.body_content .containner .bill_print .block2 .row {
clear:both;
margin-bottom:0px;
overflow:hidden;
}
.body_content .containner .bill_print .block3 {margin-bottom:10px} 
.body_content .containner .bill_print .block3 table tr:last-child td {
border:1px solid #C1c1c1;
font-size:15px;
font-weight:bold;
padding:3px 5px;
}
.body_content .containner .bill_print .block3 table tr td{padding:3px 5px;}
.body_content .containner .bill_print .block3 table tr td .phantramck_td {display:none}
.body_content .containner .bill_print .block3 table tr td:last-child {width:130px}
.body_content .containner .bill_print .block4 div {width:22%}
.body_content .containner .bill_print .block4 div div {
float:none;
margin-top:90px;
width:100%;
}
.body_content .containner .bill_print #print_page,.body_content .containner .bill_print #print_page1, .body_content .containner .bill_print #save_page, .body_content .containner .bill_print #back_page, .body_content .containner .bill_print #print_have_ck {display:none}
.body_content .containner .bill_print select {
border:none !important;
margin-left:-5px;
padding:0;
-moz-appearance:none;
-webkit-appearance:none;
appearance:none;
}
.body_content .containner .bill_print input {
border:none !important;
font-size:15px !important;
font-weight:bold !important;
padding:0 !important;
}
.body_content .containner .bill_print table {width:80% !important}
.body_content .containner .bill_print table tr td {font-size:15px;padding:8px 10px}
.body_content .containner .print_order {margin-left:0}
.body_content .containner .print_order table {width:85% !important}
.body_content .containner .print_order h1 {
margin-top:20px;
width:85% !important;
}
.body_content .containner .print_order #back_page, .body_content .containner .print_order #print_have_ck, #closesitebar {display:none}
.body_content .containner .bill_print.mobilization{margin-top:50px}
    .body_content .containner .bill_print.mobilization *{font-size:29px}
    .body_content .containner .bill_print.mobilization table tr td{padding:10px 5px;}
    .body_content .containner .bill_print.mobilization table tr th{padding:10px 5px;}
    .body_content .containner .bill_print.mobilization .block1{margin-bottom:50px}
    .body_content .containner .bill_print.mobilization .block1 .block1_1 img{width:80px !important}
    .body_content .containner .bill_print.mobilization .block1 .block1_1 p{font-size:18px;margin-bottom:10px}
    .body_content .containner .bill_print.mobilization .block1 .block1_1 p b{font-size:18px}
    .body_content .containner .bill_print.mobilization .block1 .block1_1 p.title{font-size:48px;font-weight:bold}
    .body_content .containner .bill_print.mobilization .block1 .block1_2{width:1%}
    .body_content .containner .bill_print.mobilization .block1 .block1_3{width:500px}
    .body_content .containner .bill_print.mobilization .block1 .block1_3 h1{font-size:50px;margin-bottom:20px}
    .body_content .containner .bill_print.mobilization .block1 .block1_3 p{font-size:20px}
    .body_content .containner .bill_print.mobilization .block2 *{font-size:20px !important}
    .body_content .containner .bill_print.mobilization .block2 p{margin-bottom:20px}
    .body_content .containner .bill_print.mobilization .block3 *{font-size:20px !important}
    .body_content .containner .bill_print.mobilization .block3 table tr:last-child td{height:200px !important}

}
@page {margin:0.4cm auto}

.loading{z-index: 9999;position: relative;}
.loader {margin: 30px auto;font-size: 10px;position: relative;text-indent: -9999em;border-top: 1.1em solid #62a8ea;border-right: 1.1em solid #fff;border-bottom: 1.1em solid #fff;border-left: 1.1em solid #fff;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation: load8 1.1s infinite linear;animation: load8 1.1s infinite linear;}
.loader,.loader:after {border-radius: 50%;width: 10em;height: 10em;}
@-webkit-keyframes load8 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
table tr td a.status-button{background: #eee;padding:5px 10px;border-radius: 25px;color:#555;white-space:nowrap;font-size:12px !important}
table tr td a.status-button i{margin-right:5px;font-size:12px !important}
table tr td a.status-button .text-success{color:#70d270 !important;}
table tr td a.status-button .text-default{color:#fba2a2 !important;}
table tr td a.status-button .text-danger{color:#e07a7a !important;}

.title-sm{padding-bottom: 10px;border-bottom: 1px solid #ccc;margin-bottom: 15px;box-shadow: 0px 1px #FFF;}
.modal{z-index: 99999}
@media only screen and  (max-width: 768px) {
	.body_content .containner .import_select_progress .block1{float:none;}
	.body_content .containner .import_select_progress .block1 h1 a{font-size: 17px;}
	.body_content .containner .import_select_progress .block1 h1{margin-top: 0px;}
	.body_content .containner .import_select_progress .block2{float:none;}
	.body_content .containner .import_select_progress .block2 .list_div b{float:right;margin-top: 10px;}
	.body_content .containner .import_select_progress .block2 .list_div i{margin-right: 10px;}
	.body_content .containner .filltertools{margin-top:30px;}
	.table_data{overflow:scroll;margin-bottom: 25px;}
	.table_data table tr th{white-space: nowrap;}
	.table_data table tr td{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
	.body_content .containner .piechart .block1{width:100%;}
	.body_content .containner .piechart .block1 .list_item{width:30%;}
	.body_content .containner .piechart .block1 .list_item:nth-child(3n){width:40%;}
	.body_content .containner .piechart .block2 div{float:left;width: 50% !important;}
	.body_content .containner .piechart .block2{width:100%;}
	.body_content .containner .report_sales_fill .block2{float:left;margin-top: 10px;margin-left: 5px;}
}

@media only screen and (max-width: 480px){
	.body_content .containner .piechart .block2 div{float:left;width: 100% !important;}
	.body_content .containner .piechart .block2{width:100%;}
	.body_content .containner .piechart .block1{width:100%;}
	.body_content .containner .piechart .block1 .list_item{width:50%;}
	.body_content .containner .piechart .block1 .list_item:nth-child(3n){width:100%;}
	.body_content .containner .import_select_progress .block1 h1 a{font-size: 13px;}
	.body_content .containner .import_select_progress .block1 h1{margin-top: 0px;}
	.body_content .containner .import_select_progress .block1{float: none;}
	.body_content .containner .import_select_progress .block2{float: none;}
	.body_content .containner .import_select_progress .block2 .list_div b{float:right;margin-top: 10px;}
	.body_content .containner .import_select_progress .block2 .list_div i{margin-right: 10px;}
	.import_orderlist{margin-top: 30px;clear: both;}
	.body_content .containner .import_orderlist .block2 .block_2_2 a.btn.btn-primary{margin-right:0px;}
	.body_content .containner .import_select_progress .block2 .list_div{padding: 6px 10px;}
	.body_content .containner .import_select_progress .block2 .list_div span{font-size:14px}
	.body_content .containner .filltertools{margin-top:30px;}
	.title-sm{font-size: 13px;font-weight:bold;text-transform:uppercase;}
	.body_content .containner .details .block1{width:100%;}
	.body_content .containner .details .block2{width:100%;}
	.daterangepicker{width:94%;}
	.body_content .containner .select_progress .block2 .dropdown .box_dropdown{width:279px;}
	.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{padding:12px;}
}

@media only screen and (max-width: 320px){
    .body_content .containner .import_select_progress .block1 h1 a{font-size: 12px;}
    .body_content .containner .import_select_progress .block2 .list_div span{font-size: 13px;}
    .body_content .containner .import_select_progress .block2 .list_div b{margin-top: 7px;}
    .body_content .containner .piechart .block1 .list_item p.title{font-size: 12px;white-space: nowrap;}
    .body_content .containner .select_progress .block2 .dropdown .box_dropdown{width:279px;}
    .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{padding:12px;}
}