/* 
    Created on  : Sep 25, 2017, 2:33:58 PM
    Author      : thanhbinh.le
    Company     : ARV - Auchan Retail Vietnam
*/

.content-box .comment-box .content-box-title span {
    font-size: 22px;
}
.content-box .comment-box .content-box-title small {
    font-size: 15px;
}
header .top-head .top-left-nav a:first-child {
    padding-right: 5px !important;
}

.content-box .product-box .product-item {
    margin-bottom:20px;
}

.content-box .product-box .product-item .title-products {
    padding-top:5px;
    min-height: 42px !important;
    height: 42px !important;
}

.alert-info span{
    font-size: 90% !important;
}

.content-box .product-box .product-item .badge-right {
    position: absolute;
    top: 0;
    right: 10px;
    float:right !important;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
/*
.product-item .btn-block .auc-right{
    transition: all 2s ease;
}
.product-item:hover .btn-block .auc-right{
    padding-left:45%;
    transition: all 0.2s ease;
}
*/

.product-cate-page .list-categories-child #categories .cate-item a span {
    width: 100px !important;
    text-align: center !important;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    /*    width: 32px;
        height: 32px;
        text-align: center;
        line-height: 30px;
        background: #f5f5f5;
        color: #444;
        cursor: pointer;
        border: 0;
        border-radius: 2px;
        text-decoration: none;*/
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    /*background: #e9ebec;*/
}
#back-to-top.show {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.product-cate-page .list-categories-child #categories .cate-item a b {
    font-size:80%;
    padding-left:10px;
}

.main-cate-nav .sub-nav, .mobile-cate-nav .sub-nav {
    width:500px !important;
}
/*
.badge.badge-pill {
    border-radius: 3px !important;
    margin-top: 1px;
    position: absolute;
    margin-left:5px;
}
*/

.content-box .product-box .product-item .price {
    font-size:120% !important;
}

.content-box .store-sidebar ul li p.title-location, p.city-location,p.address-location {
    text-align: left;
}

.price span.Social {
    text-decoration: line-through;
}


.content-box .product-box {
    margin-top:10px;
}

.cate-item span {
    background-color: #e6e6e6 !important;
}

.dropdown-menu {
    font-size: 14px;
}

header .top-head .nav-top .dropdown-menu {
    min-width: 120px !important;
    right: 0px !important;
}


.auc-angle-left:before{content:'\e843';}
.auc-angle-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Fix Menu*/
div.side {
    /*    position: fixed; */
    height: 100%;
    top: 110px;
    width: 220px;
}
.side.header-sticky {
    top:75px;
}

div.side img {
    margin-bottom: 10px;
}

.post-content-wrap p img {
    max-width: 100% !important;
}

.socials {
    border:1px solid #ddd;
    border-radius: 3px;
    padding:20px;
}
.socials .heading {font-size:15px;}

.fix {
    position: fixed;
}
.filter-box {
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%
}
.filter-box.fix-e-brochure{
    position: fixed;
    top: 64px;
    z-index: 9999;
    opacity: .8;
}

.filter-box.fix-e-brochure:hover{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.content-box .content-box-title {margin:10px 0 10px}

.membership-page .col-md-4 .card .card-block h4 span {
    font-size:16px;
    font-weight:bold;
}

.membership-page .col-md-4 .card .card-block {
    font-size:14px;
}

.support {

    font-size: 15px;
}

.carousel-control.left,.carousel-control.right {
    background:transparent !important;
}

.beta li{
    filter:alpha(opacity=0);
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
}
.beta li:hover{
    visibility:visible;
    filter:alpha(opacity=100);
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
}
.beta li .auc-angle-right {
    margin-top:2px;
}
.beta li:hover .auc-angle-right {
    color:red;
}

.header_title {
    position: absolute; 
    bottom:4px; 
    background-color: transparent; 
    width: 100%; 
    height: 30px; 
    color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.header_in {
    background-color: #e0001a;
    height: 30px; 
    padding:4px;
    padding-left:10px;
    opacity: 1;
    margin: 0px 4px 3px 4px;
}

.product-cate-page .product-box .filter-box {

}

/*E-Brochure*/
.e-brochure-tabs .items { float:left; width: 25%; padding-left: 3px; padding-right: 3px; text-align: center;}
.e-brochure-tabs i.auc-angle-left {
    font-size:1.5rem;
    color:#000;
}
.e-brochure-tabs .items img {margin:0 auto;}
.e-brochure-tabs i.auc-angle-right {
    font-size:1.5rem;
    color:#000;
}

.e-brochure-tabs .tab-pane {
    margin-top:10px;
}

.header_slider{
    margin-top:10px;
    text-align: center
}


.content-box .accordion .card .card-header a .auc-plus,
.content-box .accordion .card .card-header a .auc-circle-minus {
    float: right
}

.content-box .accordion .card .card-header a .auc-plus {
    display: none
}

.content-box .accordion .card .card-header a.collapsed .auc-circle-minus {
    display: none
}

.content-box .accordion .card .card-header a.collapsed .auc-plus {
    display: block
}

.content-box .comment-box .content-box-title {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 20px;
    margin-bottom: 30px
}

.promotion-page .full-box-title {
    overflow: hidden;
    margin-top:20px;
}

.promotion-page .form-check {
    font-size:14px;
}

.promotion-page .auc-circle-minus,.promotion-page .auc-plus {
    margin-top: 3px;
}


.filter-title span {
    font-size: 20px;
    text-transform: uppercase;
}

.full-box-title span {
    font-size: 24px;
}



.auc-stack-1x {
    line-height: inherit
}

.auc-stack-2x {
    font-size: 2em
}

.auc-inverse {
    color: #fff
}

.auc-mobile:before {
    content: '\e800'
}

.auc-shop-1:before {
    content: '\e801'
}

.auc-right:before {
    content: '\e802'
}

.auc-cart:before {
    content: '\e803'
}

.auc-search:before {
    content: '\e804'
}

.auc-comment:before {
    content: '\e805'
}

.auc-star:before {
    content: '\e806'
}

.auc-star-empty:before {
    content: '\e807'
}

.auc-arrow-right-circle:before {
    content: '\e808'
}

.auc-calendar:before {
    content: '\e809'
}

.auc-download:before {
    content: '\e80a'
}

.auc-list -add:before {
    content: '\e80b'
}

.auc-attach:before {
    content: '\e80c'
}

.auc-cog:before {
    content: '\e80d'
}

.auc-globe:before {
    content: '\e80e'
}

.auc-plus:before {
    content: '\e80f'
}

.auc-circle-minus:before {
    content: '\e810'
}

.auc-angle-up:before {
    content: '\e811'
}

.auc-cross:before {
    content: '\e812'
}

.auc-cross-circle:before {
    content: '\e813'
}

.auc-gift:before {
    content: '\e814'
}

.auc-menu:before {
    content: '\e815'
}

.auc-substract:before {
    content: '\e816'
}

.auc-book-open:before {
    content: '\e817'
}

.auc-success:before {
    content: '\e818'
}

.auc-user-3:before {
    content: '\e819'
}

.auc-users-1:before {
    content: '\e81a'
}

.auc-card:before {
    content: '\e81b'
}

.auc-facebook-circled:before {
    content: '\e81c'
}

.auc-print:before {
    content: '\e81d'
}

.auc-list:before {
    content: '\e81e'
}



.auc-dislike:before {
    content: '\e820'
}

.auc-heart:before {
    content: '\e825'
}

.auc-book-album:before {
    content: '\e82b'
}

.auc-edit:before {
    content: '\e82f'
}

.auc-shield:before {
    content: '\e835'
}

.auc-chronometer:before {
    content: '\e837'
}

.auc-route:before {
    content: '\e838'
}

.auc-record-outline:before {
    content: '\e839'
}

.auc-delivery-truck:before {
    content: '\e83d'
}

.auc-circular-clock-tool:before {
    content: '\e83e'
}

.auc-trash-empty:before {
    content: '\e842'
}

.auc-angle-right:before {
    content: '\e843'
}

.auc-angle-down:before {
    content: '\e844'
}

.auc-add:before {
    content: '\e845'
}

.auc-location:before {
    content: '\e846'
}

.auc-shop:before {
    content: '\e847'
}

.auc-tag-1:before {
    content: '\e848'
}

.auc-pencil:before {
    content: '\e849'
}

.auc-user:before {
    content: '\e84a'
}

.auc-note:before {
    content: '\e84b'
}

.auc-trash:before {
    content: '\e84c'
}

.auc-mail:before {
    content: '\e84d'
}

.auc-lightbulb:before {
    content: '\e84e'
}

.auc-bookmark-empty:before {
    content: '\e84f'
}

.auc-view:before {
    content: '\e850'
}

.auc-pie-chart:before {
    content: '\e851'
}

.auc-chart-bars:before {
    content: '\e852'
}

.auc-cow:before {
    content: '\e853'
}

.auc-cake:before {
    content: '\e854'
}

.auc-vegetable-1:before {
    content: '\e855'
}

.auc-vegetable:before {
    content: '\e856'
}

.auc-fish:before {
    content: '\e857'
}

.auc-deer:before {
    content: '\e858'
}

.auc-sheep:before {
    content: '\e859'
}

.auc-pig:before {
    content: '\e85b'
}

.auc-chicken:before {
    content: '\e85c'
}

.auc-cook-hat:before {
    content: '\e85d'
}

.auc-icon-2:before {
    content: '\e85e'
}

.auc-icon:before {
    content: '\e85f'
}

.auc-download-1:before {
    content: '\e860'
}

.auc-edit-task:before {
    content: '\e861'
}

.auc-document:before {
    content: '\e862'
}

.auc-question:before {
    content: '\e863'
}

.auc-sort-descending:before {
    content: '\e865'
}

.auc-sun-weather:before {
    content: '\e866'
}

.auc-duplicate:before {
    content: '\e867'
}

.auc-gift-card:before {
    content: '\e868'
}

.auc-precision-select:before {
    content: '\e869'
}

.auc-chat-user:before {
    content: '\e86a'
}

.auc-financial-care:before {
    content: '\e86b'
}

.auc-male:before {
    content: '\e86c'
}

.auc-tag:before {
    content: '\e86d'
}

.auc-click:before {
    content: '\e86e'
}

.auc-chat:before {
    content: '\e86f'
}

.auc-like:before {
    content: '\e870'
}

.auc-emoji-smile:before {
    content: '\e871'
}

.auc-login-form:before {
    content: '\e872'
}

.auc-lock-user:before {
    content: '\e873'
}

.auc-warning:before {
    content: '\e877'
}

.auc-warning-1:before {
    content: '\e878'
}

.auc-refresh:before {
    content: '\e879'
}

.auc-call-center:before {
    content: '\e87a'
}

.auc-info:before {
    content: '\f086'
}

.auc-bookmark-empty-1:before {
    content: '\f097'
}

.auc-doc-text:before {
    content: '\f0f6'
}

.auc-gplus:before {
    content: '\f30f'
}

.tab-content-small {
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    text-transform:none !important;
}


.boxArticle::before {
    height: 55px;
    margin-top: -70px;
    content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.2,#fff),to(rgba(255,255,255,0)));
    display: block;
}

@media (max-width: 543px){
    header .mobile-cate-nav ul li>a {
        padding:7px 0px
    }

    .dropdown-menu {
        position: absolute;
        right:0px !important;
        width:100px !important;
    }

    .navigation {
        /*z-index:9999;*/
        background-color: #fff;
    }

    header .main-head .logo h2 a {
        background: url(../images/w-logo.png) left top no-repeat;
        background-size: contain;
        background-image: url(../images/w-logo.svg);
    }

    #sync1.owl-theme .owl-next,
    #sync1.owl-theme .owl-prev {
        display: none;
        width: 20px !important;
        height: 50px !important;
        position: absolute;
        top: 30% !important;
        color:#ddd;
        background-color: transparent;
        opacity: 0.1
    }

}

/*MainSlider*/
#sync1 .item {
    background: #0c83e7;
    margin: 5px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
}
.owl-theme .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}
#mainslider.owl-theme {
    position: relative;
}
#mainslider.owl-theme .owl-next,
#mainslider.owl-theme .owl-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    color:#ddd;
    background-color: transparent;
    opacity: 0.1
}

#mainslider.owl-theme .owl-next:hover,
#mainslider.owl-theme .owl-prev:hover
{
    opacity: 1
}
#mainslider.owl-theme .owl-prev {
    left: 10px;
}
#mainslider.owl-theme .owl-next {
    right: 10px;
}

.list-categories-child .nav-item a.nav-link {
    font-size: 14px;
}

.list-categories-child .nav-item a.nav-link.active {
    font-weight: normal;
    font-size: 14px;
    color:#fff;
    background-color: #e0001a !important;
}

header .main-head .logo .navbar-toggler {
    color:#fff !important;
}
/*.gm-style .gm-style-iw {
    top:20px !important;
    left:30px !important;
    width:100% !important;
}*/
.gm-style .gm-style-iw {
    text-align:center;
}
.showmap {cursor: pointer}
.maps {width:100%; padding-bottom:20px; padding-top:20px; text-align: center;}
.maps .info span {line-height: 20px;}
.maps .images {
    width:323px;
    padding-top:10px;
    padding-bottom:10px;
}
.maps .maps_title {
    font-weight:600;
    font-size:18px;
    color:#e0001a;
}
.maps .maps_phone,.maps .maps_address {
    font-size: 14px;
}
.maps .maps_phone a{
    color:#e0001a;
}

.maps .open-time {
    color: #00995f;
    font-size: 12px;
    font-style: italic;
    position: relative;
    padding-left: 13px;
}

.maps .maps_image{
    bottom:0px;
}
header .main-head .search-box .auto-complete-search-box {
    top:50px;
}
header .main-head .search-box .auto-complete-search-box .item-products {
    padding-bottom:10px;
}

header .main-head .search-box .auto-complete-search-box .item-products:hover {

}

header .main-head .search-box .auto-complete-search-box .item-products:first-child{
    padding-top:20px;
}

header .main-head .search-box .auto-complete-search-box {
    z-index: 9999;
}

.store_near {
    font-size:12px;
    padding-left:10px;
}

.location-page .content-box .location .box-location ul#loading_storelist2 {
    height: 500px !important;
    overflow: overlay;
    margin-bottom: 0;
}

.location-page .content-box .location .box-location ul {
    height:auto !important;
}

.location-page .content-box .location .box-location ul#loading_storelist3 {
    overflow: overlay;
    margin-bottom: 0;
}

.find_directions {float:right; margin-top:-25px;}
#nearme {padding-bottom:10px;}
.findto {position: relative}
.go_map {position: absolute;    top: 6px; right: 0px;}

.showmap:last-child{
    border-bottom: 1px solid #ddd;
}

.shownearme {
    display: none;
}

.location-page .content-box .location .box-location .content-box-title {
    margin-bottom:10px;
}

.card-block {
    padding: 10px 10px 10px 10px !important;
}

footer .foot-content .logo p, .recruitment-info p {
    text-align: justify;
}

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

.checkbox {padding-left: 10px !important;}
a:focus, a:hover {text-decoration: none;}

.ajax-loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height:100%;
}

.document-page .document-box .side-nav ul,.document-page .document-box .detail-content {
    font-size:15px;
}

.post-item .description {
    color:#000;
    text-align: justify !important;
    padding-top:10px;
}

.recruitment-header {line-height:22px;padding-bottom:10px;}
b, strong {

}
p{
    margin-bottom:10px;
}

.content-box .product-box .product-item .price small {
    text-decoration: line-through;
}

.btn {text-transform: none;}

.product-detail-page .detail-box .product-info .product-cta {
    margin: 20px 0 20px
}
.product-detail-page .detail-box .product-info .product-cta .btn-primary,
.product-detail-page .detail-box .product-info .product-cta .btn-success,
.product-detail-page .detail-box .product-info .product-cta .btn-warning {
    text-transform: uppercase;
    border-radius: 40px;
    width: calc(100% - 86px)
}
.product-detail-page .detail-box .product-info .product-cta .btn-primary .auc,
.product-detail-page .detail-box .product-info .product-cta .btn-success .auc,
.product-detail-page .detail-box .product-info .product-cta .btn-warning .auc {
    font-size: 2.25rem;
    margin-right: 10px
}
.product-detail-page .detail-box .product-info .product-cta .btn-primary {
    text-align: center
}
.product-detail-page .detail-box .product-info .product-cta .btn-primary .auc {
    float: left
}
.product-detail-page .detail-box .product-info .product-cta .btn-primary small {
    display: block;
    font-size: .75rem;
    text-transform: none
}
.product-detail-page .detail-box .product-info .product-cta .btn-outline-success {
    border-radius: 40px;
    text-align: center;
    width: 66px;
    padding: 0;
    margin-left: 15px;
    height: 66px
}
.product-detail-page .detail-box .product-info .product-cta .btn-outline-success .auc {
    margin-right: 0;
    font-size: 2.25rem;
    line-height: 66px
}

.product-detail-page .detail-box .product-info .btn-primary {
    margin-bottom: 0px;
}

.product-detail-page .detail-box .product-info .product-properties {
    margin-bottom: 10px;
    font-size: .875rem;
}

p.meta-info {
    margin-bottom: 20px;
}

.btnCart button.btn-outline-success, .btnCart button.btn-success  {
    padding:5px;
}

.product-detail-page .detail-box .product-info .btn-hotline {
    margin-bottom:20px;
}

header .main-head #desktopNavbar .user-info.dropdown-menu {
    left: 153px;
    top: 58px;
}

@media (max-width: 543px){
    header .main-head #desktopNavbar .user-info.dropdown-menu {
        left: -100px;
        width: 251px !important;
    }
}

.location-page .content-box .location .box-location .content-box-title {
    margin-right: 15px;
}

span.cls_shownearme {
    float:right;
}

.certificate {
    font-size:85%; color: #929292; text-align: justify; line-height: 20px;
}