/*
Tramva - Travel Coming Soon Template

Content Tabel
+---------------+

-LESS Variables
-General Classes
-Common-Stuff

-Animation Elements
Style1
Style2
-Preloader
-Browsers Hacks
   
  
*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}
.gray {
  color: #abb0ac !important;
}
.font {
  font-family: 'Dosis', sans-serif;
}
img {
  width: auto\9;
  max-width: 100%;
}
/*  General classes  */
.no-margin {
  padding: 0;
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-margin-left {
  margin-left: 0;
  padding-left: 0;
}
.no-margin-right {
  margin-right: 0;
  padding-right: 0;
}
a:hover,
a:focus,
a:active {
  color: #6e992d;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #747474;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body {
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  position: relative;
  padding: 0;
}
::-moz-selection {
  background-color: #6e992d;
  color: #ffffff;
  text-shadow: none;
  -webkit-text-shadow: none;
}
::selection {
  background-color: #6e992d;
  color: #ffffff;
  text-shadow: none;
  -webkit-text-shadow: none;
}
ul {
  margin: 0;
  padding: 0;
}
a,
button,
a:hover,
button:hover,
a:focus,
button:focus,
a.active,
button.active {
  outline: none!important;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #414141;
}
.uppercase {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 600!important;
  text-transform: uppercase;
}
h4 {
  font-size: 12px;
}
.capital {
  text-transform: capitalize;
}
#loading {
  visibility: hidden;
}
*:focus {
  outline: none;
}
.inline {
  display: inline-block;
}
.center-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
/*Common-Stuff*/
.error {
  font-size: 13px;
  line-height: 18px;
  color: #e84546;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.animate {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.animate2 {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons.big li {
  font-size: 42px;
}
.social-icons.small li {
  margin-right: 5px;
}
.social-icons.small li a {
  width: 16px;
  height: 16px;
}
.social-icons.small li a:hover {
  border-width: 3px;
}
.social-icons.small li a:before {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons li a {
  display: inline-block;
}
.social-icons li a:hover {
  border-width: 5px;
}
.social-icons li a:before {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
section,
header {
  position: relative;
}
.fontawesome {
  font-family: fontawesome;
}
.le-input {
  background-color: #f4f4f4;
  border: none;
  color: #000000;
  border-radius: 3px;
  padding: 10px;
}
.le-btn {
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #6e992d;
  font-size: 13px;
  padding: 10px 15px;
}
.le-btn:hover {
  background-color: #527221;
  color: #ffffff;
  cursor: pointer;
}
.le-btn:focus,
.le-btn.active,
.le-btn:active {
  background-color: #527221;
  color: #ffffff;
}
.le-btn.big {
  padding: 15px 30px;
  font-size: 16px;
}
.le-btn.icon-btn {
  padding: 9px 10px 9px 10px;
}
.le-btn.icon-btn:before {
  font-size: 19px;
  width: 19px;
  height: 19px;
  line-height: 19px;
}
.le-btn.small {
  font-size: 10px;
  padding: 9px 12px;
}
.bold {
  font-weight: bold!important;
}
.bold100 {
  font-weight: 100!important;
}
.bold200 {
  font-weight: 200!important;
}
.bold300 {
  font-weight: 300!important;
}
.bold400 {
  font-weight: 400!important;
}
.bold500 {
  font-weight: 500!important;
}
.bold600 {
  font-weight: 600!important;
}
.bold700 {
  font-weight: 700!important;
}
.bold800 {
  font-weight: 800!important;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.italic {
  font-style: italic;
}
/*Sections*/
.wrapper {
  position: relative;
}
/*Counter*/
@keyframes lefadeIn {
  100% {
    opacity: 1;
  }
}
#countdown_dashboard {
  height: 70px;
  margin: 20px 0px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 5.8s forwards, bounceIn 0.5s 5.8s forwards;
}
.dash {
  width: 60px;
  height: 65px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.dash .digit {
  font-size: 35px;
  font-weight: bold!important;
  float: left;
  width: 25px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  position: relative;
}
.dash_title {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  right: 12px;
  font-weight: bold!important;
  font-size: 12px;
  color: #323232;
  text-transform: uppercase;
}
.dev_comment {
  font-size: 20px;
  color: #000000;
  text-align: center;
  font-style: italic;
  margin: 40px 10px;
}
.page-holder {
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.page-holder h1 {
  font-size: 46px;
  line-height: 52px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 5.3s forwards, bounceIn 0.5s 5.3s forwards;
}
.page-holder .subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 5.5s forwards, bounceIn 0.5s 5.5s forwards;
}
.form-holder {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 5.7s forwards, bounceIn 0.5s 5.7s forwards;
}
form {
  text-align: center;
}
form .input-group-addon {
  vertical-align: middle;
  display: inline-block;
}
form .input-group-addon .le-btn {
  vertical-align: middle;
  display: inline-block;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  line-height: 15px;
  min-width: 80px;
  font-size: 11px;
  margin-left: -5px;
}
form .input-group {
  position: relative;
}
form .input-group .le-input {
  vertical-align: middle;
  height: 15px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}
.fixed {
  position: fixed;
}
.alert-success {
  font-weight: bold!important;
  font-size: 18px;
}
label.error {
  position: absolute;
  bottom: -20px;
  font-weight: bold!important;
  right: 0;
  margin: auto;
  text-align: center;
  left: 0;
}
@keyframes planeFly {
  100% {
    left: 130%;
    top: 15%;
  }
}
@keyframes baloon {
  0% {
    top: 10%;
  }
  50% {
    top: 5%;
  }
  100% {
    top: 10%;
  }
}
@keyframes clouds {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
/*Page Elements*/
.page-holder {
  height: 90%;
}
.page-holder h1 {
  color: #6e992d;
  margin-bottom: 5px;
}
@keyframes showSky {
  0% {
    height: 0%;
  }
  100% {
    height: 80%;
  }
}
@keyframes showLand {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
#sky {
  background-color: #b3eff0;
  animation: showSky 1s 2s forwards;
  position: relative;
}
#sky #baloon1 {
  position: absolute;
  right: 20%;
  opacity: 0;
  top: 10%;
  background: url(../images/baloon1.png) no-repeat;
  height: 205px;
  width: 134px;
  animation: fadeInDown 1s 3s forwards, baloon 10s 3s ease-in-out infinite;
}
#sky #baloon2 {
  opacity: 0;
  top: 10%;
  position: absolute;
  right: 15%;
  background: url(../images/baloon2.png) no-repeat;
  height: 151px;
  width: 113px;
  animation: fadeInDown 1.5s 3.1s forwards, baloon 6s 3.1s ease-in-out infinite;
}
#sky #plane {
  left: -600px;
  top: 30%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  background: url(../images/plane.png) no-repeat;
  height: 82px;
  width: 209px;
  animation: planeFly 10s 5s ease-out infinite;
}
#sky #clouds {
  background: url(../images/clouds.png) repeat-x;
  height: 344px;
  width: 100%;
  position: absolute;
  left: 0;
}
#sky #sea {
  background-color: #5edddf;
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 3.3s forwards, slideInUp 1.5s 3.3s forwards;
}
#sky #wave {
  z-index: 10;
  background: url(../images/wave.png) repeat-x;
  height: 46px;
  width: 100%;
  position: absolute;
  bottom: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 3.5s forwards, slideInUp 1s 3.5s forwards;
}
#land {
  background-color: #f7e8d1;
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 20%;
  bottom: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 1s forwards, showLand 2s 1s forwards;
}
#bucket,
#suitcase,
#boot,
#hat {
  position: absolute;
  z-index: 10;
}
#bucket {
  background: url(../images/bucket.png) repeat-x;
  width: 705px;
  height: 196px;
  bottom: -30px;
  margin: auto;
  left: 0;
  right: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 3.5s forwards, slideInUp 1s 3.5s forwards;
}
.ie9 #sky {
  height: 80%;
}
.ie9 .page-holder h1,
.ie9 .page-holder h3,
.ie9 .page-holder #countdown_dashboard,
.ie9 .page-holder .form-holder {
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
  display: block;
}
.ie9 #bucket,
.ie9 #land,
.ie9 #sky,
.ie9 #bucket,
.ie9 #clouds,
.ie9 #plane,
.ie9 #baloon1,
.ie9 #baloon2,
.ie9 #sea,
.ie9 #wave,
.ie9 #suitcase,
.ie9 #boot {
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
}
#boot {
  bottom: 30px;
  margin: auto;
  left: 0;
  right: 0;
  background: url(../images/boot.png) no-repeat;
  width: 165px;
  left: -420px;
  height: 205px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 5.3s forwards, slideInRight 1s 5.3s forwards;
}
#suitcase {
  background: url(../images/suitcase.png) no-repeat;
  width: 333px;
  height: 268px;
  bottom: 30px;
  margin: auto;
  left: 0;
  right: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.2s 4.3s forwards, slideInUp 1s 4.3s forwards;
}
#suitcase #hat {
  right: -40px;
  top: -20px;
  background: url(../images/hat.png) no-repeat;
  width: 142px;
  height: 141px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  animation: lefadeIn 0.5s 6s forwards, slideInDown 1s 6s forwards;
}
@media all and (max-width: 450px) {
  .page-holder h1 {
    font-size: 26px;
  }
  .page-holder .subtitle {
    font-size: 11px;
  }
  .dash {
    height: 40px;
    margin-left: 0px;
    width: 35px;
  }
  .dash .digit {
    font-size: 18px;
    width: 11px;
  }
  .dash_title {
    right: auto;
    left: 0;
    font-size: 9px;
    font-weight: bold!important;
    letter-spacing: 0;
  }
  #countdown_dashboard {
    height: 45px;
  }
  form .input-group-addon .le-btn {
    width: 50px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 11px;
    margin-left: 0px;
  }
  form .input-group .le-input {
    display: block;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
  }
}
/*------------------*/
.goto-top {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #6e992d;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 2000;
  padding: 20px;
}
.goto-top:after {
  content: "^";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}
/*Preloader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f4;
  z-index: 5000;
  /* makes sure it stays on top */
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace.pace-inactive .pace-progress {
  display: none;
}
.pace .pace-progress {
  position: fixed;
  z-index: 7000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 100px;
  margin: auto;
  height: 5rem;
  width: 5rem;
}
.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: #6e992d;
}
#status {
  width: 100px;
  height: 34px;
  position: absolute;
  z-index: 6000;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: 0;
  background-image: url(../images/page-loader.GIF);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
}
@media all and (max-width: 850px) {
  .page-holder {
    background-color: rgba(255, 255, 255, 0.4);
    background: none\9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ffffff', endColorstr='#66ffffff');
    height: 40%;
    width: 70%;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    top: 5px;
    bottom: auto;
  }
  .page-holder:not([dummy]) {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
  }
  #big-text {
    left: 10%;
    top: 50%;
  }
  #big-text h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  #big-text p {
    font-size: 12px;
    line-height: 16px;
  }
  #big-text .le-btn {
    font-size: 9px;
    padding: 5px 8px;
  }
}
@media all and (max-width: 370px) {
  .page-holder {
    bottom: 0;
  }
  #suitcase {
    display: none;
  }
  #boot {
    display: none;
  }
  #bucket {
    left: -400px;
  }
}
/*Browsers Hacks*/
.firefox form .input-group .le-input {
  height: 18px;
}
/*# sourceMappingURL=stylesheet.css.map */
