.sub_menu{min-width:960px;transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;height: 45px;overflow: hidden;background: #e1e1e1;margin-left: -20px;margin-right: -20px;margin-top: -20px;padding: 0px 15px;}
.sub_menu.height{height: 50px;}
.sub_menu.height .list-open-bill{margin-top:15px;}
.sub_menu.height .list-open-bill b{padding:7px 6px;}
.sub_menu.height .find_record{line-height:34px}
.sub_menu.in{margin-left:200px}
.sub_menu .current{background:#FFF;border-radius:0px;border: 1px solid #dedede;border-bottom:none;border-top:none;position:relative;z-index:1;margin-left: 5px;border-radius: 4px 4px 0px 0px;}
.sub_menu .current b{color:#555}
.sub_menu a{position:relative;padding: 0px 20px;margin-top: 13px;}
.sub_menu a b{font-weight:normal;display: block;padding: 6px 0px;color: #929292;}
.sub_menu a:hover span{display:block;}
.sub_menu a span{position:absolute;right:5px;top:2px;display:none;font-size:9px;background:#FFF;width: 14px;border-radius:10px;line-height:14px;text-align: center;}
.sub_menu a span i{margin-right:0px !important}
.sub_menu a span:hover i{color:#FFF}
.sub_menu a span:hover{background:#d54d49}
.sub_menu .find_record{margin-top:8px;display: block;margin-left:10px;font-size: 12px;}
.sub_menu .find_record a{color:#555;}
.sub_menu .find_record a.btn{color:#FFF;padding:5px 15px;}

.data_table .tools{margin-bottom:15px;}
.table{font-size: 12px;color:#555}
.table tr input[type="number"]{border:none;outline: none;border-bottom:1px solid #E1e1e1;width:100px;}
.table tr:first-child th{background: #f5f5f5}
.table tr td img{height:50px;}
.table a{cursor: pointer;}

.auto_complete{position: absolute;width: 290%;background: #FFF;border: 1px solid #e1e1e1;top:36px;z-index: 9;max-height:400px;overflow-y:scroll;}
.auto_complete p{border-bottom:1px solid #eee;margin:0px;}
.auto_complete p a{color:#999;display:block;cursor:pointer;display:block;padding:5px 8px;}
.auto_complete p:hover{background:#f3f3f3}
.auto_complete p:hover a{color:#111;}

.saving {background:#EEE url(../images/loading1.gif) 5px 50% no-repeat !important;border:1px solid #E1e1e1 !important;color:#555 !important;padding-left:30px !important;}
.saving i{display:none;}

.loading{position:absolute;top:50%;left:50%;background:url(../images/loading.gif) 0 0 no-repeat;width:50px;height:30px;}
#table_content{min-height: 400px;}

.fade_excuting{position:fixed;top:0px;left:0px;width:100%;height:100%;background:url(../images/loading.gif) no-repeat 50% 50% rgba(255,255,255,0.7);z-index:99}

.table_div{margin:0px 10px;}
.table_div tr th{border-top: none !important;border-bottom:1px solid #ccc;text-transform: uppercase;}
.table_div tr td{border-top:1px dotted #ccc !important;}
.table_div tr:hover td{background: #fafafa}
.table_div tr td a{color:#555 !important;white-space:nowrap;max-width: 350px;overflow:hidden;text-overflow:ellipsis;display: block;}
.table_div tr td a.status-button{background: #eee;padding:5px 10px;border-radius: 25px;color:#555;}
.table_div tr td a.status-button i{margin-right:5px;}
.table_div tr td a.status-button .text-success{color:#70d270 !important;}
.table_div tr td a.status-button .text-default{color:#bbbbbb !important;}
.table_div tr td a.status-button .text-danger{color:#e07a7a !important;}


.order_info{margin-top:10px}
.order_info .row .col-xs-6{/* border-bottom:1px solid #eee; */padding-top: 5px;padding-bottom: 5px;}
.order_info .row .col-xs-4 textarea{width:100%; border:none;border-left:1px solid #eee;padding-left:20px;height:100px;margin-top:15px;outline:none;}
.order_info a.status-button{background: #f3f3f3;padding:5px 10px;border-radius: 25px;color:#555;}
.order_info a.status-button i{margin-right:5px;color: orange;}
.order_info a.status-button .text-success{color:#70d270 !important;}
.order_info a.status-button .text-danger{color:#e07a7a !important;}

.no_action{position:absolute;top:0px;left:0px;right:0px;bottom: 40px;cursor: no-drop;}
.no_action{position:absolute;top: 120px;left:0px;right:0px;bottom: 0px;cursor: no-drop;}