<script>
    var infowindow;
    function initialize() {
        var mapOptions = {
            zoom: 5,
            center: new google.maps.LatLng(14.0507134668357, 106.706359598354),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        rectangle = new google.maps.Rectangle();
        var rectBounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(16.307858, 112.228205),
                new google.maps.LatLng(14.273276, 116.886409));
        var rectOptions = {
            strokeColor: '#B3D1FF',
            strokeOpacity: 1,
            strokeWeight: 1,
            fillColor: '#B3D1FF',
            fillOpacity: 1,
            map: map,
            bounds: rectBounds
        };
        rectangle.setOptions(rectOptions);

        setMarkers(map, beaches, message);

    }
    var beaches = [
        ['521 Đại lộ Bình Dương, P. Hiệp Thành, TP. Thủ Dầu Một, Bình Dương', 10.9849750000, 106.6659050000, 1],
        ['19 Nguyễn Đình Chiểu, P. Phú Cường, TP. Thủ Dầu Một, Bình Dương', 10.9800560000, 106.6542480000, 2]]


    var message = ['<div style=float:left;><div style=float:left><img align=left src=/Content/images/vta-store.png></div><div style=float:left;><span style=font-weight:bold;>Trung Tâm Smartphone - Laptop Viễn Thông A</span><br><div class=add>521 Đại lộ Bình Dương, P. Hiệp Thành, TP. Thủ Dầu Một, Bình Dương</div><br><span style=color:red;font-weight:bold>Hotline: 1900 54 54 46</span><br>Email: cs@vienthonga.com<br><img src=/Content/images/check.png align=left>Có Trung Tâm Bảo Hành Sửa Chữa<br></div></div>', '<div style=float:left;><div style=float:left><img align=left src=/Content/images/vta-store.png></div><div style=float:left;><span style=font-weight:bold;>Trung Tâm Smartphone - Laptop Viễn Thông A</span><br><div class=add>19 Nguyễn Đình Chiểu, P. Phú Cường, TP. Thủ Dầu Một, Bình Dương</div><br><span style=color:red;font-weight:bold>Hotline: 1900 54 54 46</span><br>Email: cs@vienthonga.com<br><img src=/Content/images/check.png align=left>Có Trung Tâm Bảo Hành Sửa Chữa<br></div></div>'];

    $('.store-info').html();

    function setMarkers(map, locations, message) {

        var image = {
            url: '/Content/images/vta-icon.png',

            size: new google.maps.Size(26, 37),

            origin: new google.maps.Point(0, 0),

            anchor: new google.maps.Point(0, 32)
        };

        var shadow = {
            url: '/Content/images/vta-icon.png',

            size: new google.maps.Size(26, 38),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        };

        var shape = {
            coord: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };

        infowindow = new google.maps.InfoWindow();

        for (var i = 0; i < locations.length; i++) {

            var beach = locations[i];
            var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                shadow: shadow,
                icon: image,
                shape: shape,
                title: beach[0],
                zIndex: beach[3]
            });


            infowindow = new google.maps.InfoWindow();
            attachSecretMessage(marker, i, message);

        }

    }

    function attachSecretMessage(marker, num, message) {
        //var message = ['<b>Vien thong A</b><br><img src=test.png>', 'is', 'the', 'secret', 'message'];
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(message[num]);
            infowindow.open(marker.get('map'), marker);
        });
    }
    //google.maps.event.addDomListener(window, 'load', initialize);
    initialize();
</script>