<script>
    var infowindow;
    function initialize() {
        var mapOptions = {
            zoom: 18,
            center: new google.maps.LatLng($lat, $long),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        rectangle = new google.maps.Rectangle();
        var rectOptions = {
            strokeColor: '#B3D1FF',
            strokeOpacity: 1,
            strokeWeight: 1,
            fillColor: '#B3D1FF',
            fillOpacity: 1,
            map: map
        };

        rectangle.setOptions(rectOptions);
        setMarkers(map, beaches, message);
    }

    var beaches = [['$title', $lat, $long, 9999], ]
    var message = ['<div class="maps"><span class="maps_title"><img class="maps_image" src="public/auchan/v2/images/fav/map_pointer.png" alt=""/> $title</span><br/><p class="open-time">Giờ mở cửa: 8:00 - 22:00 cả thứ 7 và CN, ngày lễ</p><img src="$image" class="images"/><br/><div class="info"><span class="maps_address"><span class="auc auc-location"></span> Địa chỉ: $address</span><br/><span class="maps_phone"><span class="auc auc-mobile"></span> Điện thoại: <a href="tel:$phone">$phone<a/></span></div></div>', ];



    function setMarkers(map, locations, message) {
        var image = {
            url: 'public/auchan/v2/images/fav/map_pointer.png',
            size: new google.maps.Size(26, 26), origin: new google.maps.Point(0, 0), anchor: new google.maps.Point(0, 32)
        };

        var shape = {
            coord: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };

        infowindow = new google.maps.InfoWindow();

        for (var i = 0; i < locations.length; i++) {
            var beach = locations[i];
            var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image,
                shape: shape,
                title: beach[0],
                zIndex: beach[3]
            });

            infowindow = new google.maps.InfoWindow();
            attachSecretMessage(marker, i, message);
        }
        infowindow.setContent(message[0]);
        infowindow.open(marker.get('map'), marker);
    }

    function attachSecretMessage(marker, num, message) {
        //var message = ['<b>Title</b><br><img src=test.png>', 'is', 'the', 'secret', 'message'];
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(message[num]);
            infowindow.open(marker.get('map'), marker);
        });
    }

    //google.maps.event.addDomListener(window, 'load', initialize);
    initialize();
</script>