body{font-family: 'Roboto', sans-serif;background: #f5f5f5;color:#666;}
h1,h2,h3,h4,h5{margin: 15px 0px;padding:0px;}
hr{margin-top:10px;margin-bottom:10px;}
video {position: fixed;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: -100;transform: translateX(-50%) translateY(-50%);transition: 1s opacity;}
a.color-base{color:#444;display: block;margin-top:10px;}
a:hover{cursor: pointer;}
.header{background: #a00b34;color: #fff;padding: 8px 0px;}
.header i.fa{margin-right:5px;}
.header a{color:#fff;margin-right:15px;padding-right:15px;border-right:1px solid #ccc;}
.header a span{margin-right:5px;}
.menu-header{background: #fff;padding: 10px 0px;}
.menu-header ul{margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.menu-header ul li{display: inline-block;padding: 16px 0px;}
.menu-header ul li a{line-height: 26px;display: block;padding: 5px 15px;text-transform: uppercase;color:#666;}
.menu-header ul li a.current{background:#a00b34;color:#fff;border-radius:30px;}
.menu-header ul li:last-child a{padding-right:0px;}
.menu-header .img-responsive{height:60px;max-width: initial;}
.w100{width:100%;}
.content{padding: 20px 0px;border-top: 1px solid #eee;}
.bg-white{background: #FFF;padding: 50px 0px;}
.price b{color:#b3363a;font-size:20px;}
.img-center{display: block;margin:auto;margin-bottom:30px;}
.box-item-order{background: aliceblue;height: 280px;overflow-y: scroll;}
.box-item-order .item-order{position: relative;padding: 8px 25px;margin:0px;}
.box-item-order .item-order:after{content:'';width:3px;height:100%;left: 9px;top:-0px;background: #d6e7f7;display: block;position:absolute;}
.box-item-order .item-order:before{content:'';width:12px;height:12px;position:absolute;left: 5px;top: 15px;margin-top:-5px;background: #bbd6f1;border-radius:50%;z-index: 1;}
.box-item-order .item-order:nth-child(2n+1):after{content:'';width:3px;height:100%;left: 9px;top:0px;background: #d6e7f7;display: block;position:absolute;}
.box-item-order .item-order:first-child:after{height: 100%;top: 15px;}
.box-item-order .item-order small{}
.box-item-order .item-order p{margin-top:6px;}
.openmenu{font-size: 36px;float: right;background: #fff;color: #a00b34;line-height: 20px;padding: 5px;border-radius: 5px;margin-top: 5px;margin-bottom: 10px;}
#openmenu:checked ~ .openmenu{font-size: 36px;float: right;background: #a00b34;color: #fff;line-height: 20px;padding: 5px;border-radius: 5px;margin-top: 5px;margin-bottom: 10px;}
button{border:none;}
.breakcrumb a{display: inline-block;padding-right:5px;margin-right: 10px;font-size:12px;color:#888;text-transform:uppercase;}
.detail-content{line-height:25px;font-size: 15px;}
.detail-content h3{font-size:20px}
.details_products_box{}
.details_products_box .info_details_products_box{}
.details_products_box .info_details_products_box .price b{font-size:25px;}
.details_products_box .info_details_products_box .price{font-size:18px}
.details_products_box .info_details_products_box .has_buy{width:100px;height:100px;display:block;text-align:center;background:#eee;border-radius:50%;overflow:hidden;}
.details_products_box .info_details_products_box .has_buy b{display:block;margin-top:25px;font-size:20px;color:#333;}

.details_products_box .info_details_products_box .add_cart{margin-top:20px;}
.details_products_box .info_details_products_box .alert{margin-top:20px;border-radius:0px;position:relative;padding-left:50px}
.details_products_box .info_details_products_box .alert i{float:left;width:30px;height:30px;line-height:30px;background:#6b945a;text-align:center;border-radius:50%;position:absolute;left:10px;top:10px;color:#fff;}
.content-box-heading{margin-top:50px;margin-bottom: 30px;}
.news_box .col-md-3{min-height: 350px;}
p{text-align: justify;}
.block-list-info{padding:10px 0px;}
.block-list-info .col-md-3{font-size:13px;}
.block-list-info .col-md-3 i{float:left;width:50px;height:50px;text-align:center;line-height:50px;background:#eee;font-size:20px;border-radius:50%;margin-right:20px;margin-top: 15px;}

#event_form p{margin-bottom:5px;}
#event_form input{margin-bottom:20px;}
#event_form input.form-control{border-radius:0px;}
.bg-event{padding-top:50px;background: #e6cfb4;border-top: 1px solid #ceb5b4;}
.bg-event .title-event-regis{background:url(../images/register/title.png) 50% -120px no-repeat;height:240px;position:relative;}
.bg-event .container{border-radius:5px;}
.bg-event .container > .row{background:#fff;margin-top:-85px;padding-top:60px;border-radius: 6px;border: 1px solid #ceb5b4;overflow: hidden;padding-bottom: 20px;}
.bg-event .rules{}
.bg-event .rules ul{padding:0px;margin:0px;margin-left: 25px;}
.bg-event .rules ul li{padding:5px 0px;line-height:24px}
.bg-event .rules ul li ul{margin-left:30px;}
.bg-event .another-products{background:#fafafa;border-top: 1px solid #e0b179;}
.bg-event .another-products h3.text-center{background: #e2be93;color: #922736;margin:0px;padding:20px 0px;margin-bottom: 30px;border-bottom: 1px solid #e0b179;}

.gift-item{}
.gift-item div{border:1px solid #ccc;margin:0px;padding:0px;height:100px;line-height:100px;text-align:center;}
.gift-item div.active{background:#a00b34;color:#fff;}

.messenger_icon{position:fixed;bottom: 5px;right: 5px;background:#0084ff;padding:6px 10px 6px 40px;color:#fff;line-height:25px;border-radius: 3px;}
.messenger_icon:before{content:'';width:25px;height:25px;position:absolute;left:8px;top:7px;background:url(../images/messenger.jpg) 0px 0px no-repeat;background-size:25px;border-radius:50%;}

canvas{position: relative;z-index: 1;}

.luckydraw-page{background: #8a1611;}
.luckydraw-page .container{background: transparent url("../images/luckydraw/head-bg.jpg") center top no-repeat;width:1200px;/* overflow:hidden; */margin:auto;}
.luckydraw-page h2.title{background: transparent url("../images/luckydraw/title-1.png") center 10px no-repeat;height: 360px;width:100%;display:block;margin: 60px auto 0;text-indent: -500px;position: relative;}
.luckydraw-page .panel{overflow:hidden;border-radius:5px;/* box-shadow: 0px 1px 3px #ccc; */margin-top: -76px;}
.luckydraw-page .panel .panel-heading{font-weight:bold;font-size: 22px;background:#fafafa;padding:15px;padding-top: 65px;color:#333;text-align: center;text-transform: uppercase;border-bottom:1px solid #f1f1f1;}
.luckydraw-page .panel .full-product-box{background:#FFF;overflow:hidden;}
.luckydraw-page .panel .full-product-box .col-sm-2{width: 16.66666667%;float:left;}
.luckydraw-page .panel .full-product-box .product-item{margin-bottom:0;padding: 15px;}
.luckydraw-page .panel .full-product-box .product-item img{width:100%}
.luckydraw-page .panel .full-product-box .product-item .text{
    text-align: center;
    color: #555;
}
.luckydraw-page .panel .full-product-box .product-item p.title{border-bottom:1px solid #e1e1e1;padding-bottom:10px;margin-bottom:10px;text-align: center;}
.luckydraw-page .panel .full-product-box .product-item span.price b{color: #e93b35;font-size:17px;}

.luckydraw-page .rule-box{background-color: #fff8ed;border-radius:6px;border: 1px solid #6f1511;padding:5px 15px;margin:30px 0;float:left;width: 415px;/* box-shadow: 0px 1px 2px #e1e1e1; */}
.luckydraw-page .rule-box::-webkit-scrollbar {background-color:#f5ecdd;width:5px;}
.luckydraw-page .rule-box::-webkit-scrollbar-thumb {background-color:#bd736c;border-radius:10px;}
.luckydraw-page .rule-box::-webkit-scrollbar-thumb:hover {background-color:#333;border:1px solid #888;}
.luckydraw-page .rule-box::-webkit-scrollbar-thumb:active {background-color:#333;border:1px solid #999;}
.luckydraw-page .rule-box *{color: #d24638;font-size:14px;}
.luckydraw-page .rule-box a.btn{color:#FFF;margin-bottom:20px}
.luckydraw-page .rule-box a.btn i{color:#FFF;}
.luckydraw-page .rule-box h4{font-weight:bold;font-size:20px;margin-bottom:10px;margin-top:20px;padding-bottom: 10px;border-bottom: 1px solid #ccc;text-transform: uppercase;text-align: center;}
.luckydraw-page .rule-box ul{margin-bottom:30px;padding: 0px;}
.luckydraw-page .rule-box ul li{padding:5px 0px;border-bottom: 1px solid #f5ecdd;color:#222;display: block;}
.luckydraw-page .rule-box ul li:last-child{border:none}
.luckydraw-page .rule-box ul li *{color:#222;font-size: 12px}
.luckydraw-page .rule-box ul li b{font-size:14px}
.luckydraw-page .rule-box ul li .span2{float:right;font-size:12px}
.luckydraw-page .rule-box ul li .number{float:left;min-width: 18px;}
.luckydraw-page .rule-box p a{color:#e93b35;}

.luckydraw-page .draw{float:right;width: 700px;position: relative;margin-top: 50px;margin-bottom: 20px;}
.luckydraw-page .draw .wheel{height: 700px;width:100%;float:right;background-size:contain;margin-bottom: 15px;}
.luckydraw-page .draw .wheel .btn-start{position:absolute;background: transparent url("../images/luckydraw/btn.png") left top no-repeat;width:160px;height:160px;text-align:center;top:50%;left:50%;margin-left:-80px;margin-top: -90px;z-index:100;}
.luckydraw-page .draw .wheel .btn-start span{color:#fef071;font-size: 1.525rem;text-transform:uppercase;line-height:160px;display:inline-block;animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
.luckydraw-page .draw .wheel .gra{background:transparent url("../images/luckydraw/gra.png") left top no-repeat;width: 900PX;height: 900PX;display:block;position:absolute;right: -85px;top: -118px;z-index: 0;}
.luckydraw-page .draw .wheel .gra-relative{background:transparent url("../images/luckydraw/gra-relative.png") left top no-repeat;width: 900PX;height: 900PX;display:block;position:absolute;right: -85px;top: -118px;z-index: 10;}
.luckydraw-page .draw .wheel .gra-2{background: transparent url("../images/luckydraw/gra-2.png") left top no-repeat;display:block;width:120px;height:120px;position:absolute;left: -50px;top: 50%;margin-top: -68px;z-index:90;transform: rotate(90deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(90deg);animation-name: pulse;-webkit-animation-name: pulse;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}

.gift-reciver{background:#e8433c url(../images/luckydraw/header-gift.png) 50% 0% no-repeat;color:#fff;}
.gift-reciver h3{color:#fff;margin-top:150px;font-size:30px;text-align:center;}
.gift-reciver .modal-header{border:none;margin-bottom:0px;padding-bottom:0px;}
.gift-reciver p{text-align:center;}
.gift-reciver p b{color:#fded69;font-weight:normal;}

.information_prize .containner{clear:both;width: 66%;margin:auto;padding: 20px;}
.information_prize{background: #881a14;color:#ffda9b;line-height:30px;font-size:16px;}
.information_prize ul li{margin-top:10px;}
.information_prize h3.title{text-align:center;margin-bottom: 20px;margin-top: 50px;}
.information_prize h3.title span{font-size:35px;padding: 20px 0px;color: #ffda9b;width: 380px;border-top: 2px dotted #ffda9b;border-bottom: 2px dotted #ffda9b;display: block;margin: auto;text-transform:uppercase;}
.information_prize h3.title span .star-left{float:left;}
.information_prize h3.title span .star-right{float:right}
.information_prize h3.title span .fa{font-size:17px;color:#ffda9b}
.information_prize 
.information_prize .list_comment.hidden{display:none}
.information_prize .list_comment{display:block;border-bottom: 1px solid #b5241d;box-shadow: 0px 1px #86140e;overflow:hidden;padding:15px 0px;}
.information_prize .list_comment img{width:100px;float:left;margin-right:20px;background:#FFF;border-radius:50%;}
.information_prize .list_comment h4{color:#ffda9b;font-size:19px;margin-bottom:10px;margin-top: 10px;}

.another-products .item {
    margin-bottom: 0;
    padding: 15px;
    margin-top: 0;
    border: 1px solid #eee;
    border-radius: 5px;
    }
    .another-products .item img{width:50%;margin:auto}
    .another-products .item .plan-title {
      text-align: center; }
      .another-products .item .plan-title .plan-pricing {
        font-size: 23px;
        color: #bd2727;
        margin: 0 0 10px;
        font-weight: bold;
        }
      .another-products .item .plan-title .plan-info {
        padding-top: 10px;
        text-align: center;
        font-size:22px;
        }
        .another-products .item .plan-title .plan-info b {
          text-transform: uppercase; font-weight:normal;}
        .another-products .item .plan-title .plan-info span {
          display: block;
          font-size: 14px; }
    .another-products .item ul {
      padding-top: 15px;
      position: relative; }
      .another-products .item ul:before {
        position: absolute;
        width: calc(100% + 30px);
        border-top: 1px solid #f2f2f2;
        left: -15px;
        top: 0;
        content: "";
        }
      .another-products .item ul li {
        padding: 5px 0; }
        .another-products .item ul li:before {
          display: none; }
        .another-products .item ul li span {
          color: #999999;
          padding-left: 24px; }
        .another-products .item ul li.available .ow {
          margin-right: 10px;
          color: #d71149; }
        .another-products .item ul li.available span {
          color: #4c4c4c;
          padding-left: 0; }
    .another-products .item > p {
      position: relative;
      margin-top: 10px;
      padding-top: 10px;
      text-align: center; }
      .another-products .item > p:before {
        position: absolute;
        width: calc(100% + 30px);
        border-top: 1px solid #f2f2f2;
        left: -15px;
        top: 0;
        content: "";
        }
    .another-products .item .btn-primary .snk {
      font-size: 1.125rem !important;
      top: 10px; }
  .another-products .premium-plan .item {
    /* margin-top: 40px; */
    background-color: #fbe3ab;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    border: 1px solid #e2cc97;
    }
    .another-products .premium-plan .item .plan-title .plan-pricing {
      margin: 20px 0; }
    .another-products .premium-plan .item .plan-info {
      padding-top: 30px;
      text-align: center;
      }
      .another-products .premium-plan .item .plan-info b {
        font-size: 22px;
        }
    .another-products .premium-plan .item ul:before {
      border-top: 1px solid #e2cc97;
      }
    .another-products .premium-plan .item .left-badge {
      position: absolute;
      top: 20px;
      right: -45px;
      background: #4eb768;
      width: 150px;
      font-size: 14px;
      color: #fff;
      transform: rotate(45deg);
      text-align: center;
      }
    .another-products .premium-plan .item > p:before {
      border-color: #e2cc97;
      }
  .another-products .diamond-plan .item {
    /* margin-top: 80px; */
    }
  .content-box.content-combo .premium-plan .item {
    margin-top: 20px; }
  .content-box.content-combo .diamond-plan .item {
    margin-top: 40px; }

/* ------------------------------ order-modal ------------------------------ */

#order-modal .modal-body .cart-view {
  border: 1px solid #f2f2f2;
  /* box-shadow: 0 0 5px #f2f2f2; */
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  }
  #order-modal #error-box .alert{border-radius:0px;margin-top:10px}
  #order-modal .modal-body .cart-view .group-icon {
    margin: 5px 20px;
    cursor: pointer;
    }
  #order-modal .modal-body .cart-view .table {
    display: block;
    max-height: 273px;
    overflow: auto;
    text-transform: none;
    text-align: left;
    border-bottom: 1px solid #f2f2f2; }
    #order-modal .modal-body .cart-view .table td {
      padding: 0 0 10px;
      border: none; }
      #order-modal .modal-body .cart-view .table td img {
        margin-right: 10px;
        width: 75px;
        border-radius: 4px; }
      #order-modal .modal-body .cart-view .table td h4 {
        margin: 0px 0px 10px 0px;
        font-size: 14px;
        }
      #order-modal .modal-body .cart-view .table td .prd-price {
        font-size: 14px;
        margin: 0;
        line-height: 35px;
        margin-right: 5px;
        }
        #order-modal .modal-body .cart-view .table td .prd-price .old-price {
          color: #999999;
          text-decoration: line-through; }
        #order-modal .modal-body .cart-view .table td .prd-price .price {
          color: #d71149;
          display: block;
          font-weight: bold; }
      #order-modal .modal-body .cart-view .table td .prd-quanlity .form-control {
        width: 50px; }
      #order-modal .modal-body .cart-view .table td .group-icon .ucc {
        font-size: 1.125rem;
        margin-top: 5px; }
  #order-modal .modal-body .cart-view p {
    margin-bottom: 0; }
    #order-modal .modal-body .cart-view p b {
      color: #d71149; }
#order-modal .modal-body .form-group .form-check {
  padding-left: 0; }
  #order-modal .modal-body .form-group .form-check .form-check-input {
    margin-right: 5px;
    margin-top: 6px;
    }
  #order-modal .form-check-inline{display:inline-block;margin-right:20px;}
  #order-modal .modal-body .form-group .form-check span {
    font-size: 13px;
    margin-left: 20px;
    }
  #order-modal .db{margin-right:20px;}
#order-modal .modal-body .card {
  background-color: #eff8ff;
  border-radius: 5px;
  }
  #order-modal .modal-body .card .card-block {
    padding-bottom: 0;
    padding: 15px;
    }
.modal-backdrop.in{min-height:900000px;}
.alo-phone{background-color:transparent;cursor:pointer;height:150px;position:fixed;left:-20px;bottom: -20px;-webkit-transition:visibility 0.5s ease 0s;transition:visibility 0.5s ease 0s;visibility:hidden;width:150px;z-index: 20;}
 .alo-phone.alo-show{visibility:visible}
 .fadeOutRight{-webkit-animation-name:fadeOutRight;animation-name:fadeOutRight}
 .alo-phone.alo-static{opacity:0.6}.alo-phone.alo-hover,.alo-phone:hover{opacity:1}
 .alo-phone.alo-hover .alo-ph-text,.alo-phone:hover .alo-ph-text{background-color:#141414}
 .alo-ph-circle{-webkit-animation:1.2s ease-in-out 0s normal none infinite running alo-circle-anim;animation:1.2s ease-in-out 0s normal none infinite running alo-circle-anim;background-color:transparent;border:2px solid rgba(30,30,30,0.4);border-radius:100%;height:120px;left:20px;opacity:0.1;position:absolute;top:-10px;-webkit-transform-origin:50% 50% 0;transform-origin:50% 50% 0;-webkit-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s;width:120px}
 .alo-phone.alo-active .alo-ph-circle{-webkit-animation:1.1s ease-in-out 0s normal none infinite running alo-circle-anim !important;animation:1.1s ease-in-out 0s normal none infinite running alo-circle-anim !important}
 .alo-phone.alo-static .alo-ph-circle{-webkit-animation:2.2s ease-in-out 0s normal none infinite running alo-circle-anim !important;animation:2.2s ease-in-out 0s normal none infinite running alo-circle-anim !important}
 .alo-phone.alo-hover .alo-ph-circle,.alo-phone:hover .alo-ph-circle{border-color:#cd3121;opacity:0.5}
 .alo-phone.alo-green.alo-hover .alo-ph-circle,.alo-phone.alo-green:hover .alo-ph-circle{border-color:#141414;opacity:0.5}
 .alo-phone.alo-green .alo-ph-circle{border-color: #d71149;opacity:0.5;}
 .alo-phone.alo-gray.alo-hover .alo-ph-circle,.alo-phone.alo-gray:hover .alo-ph-circle{border-color:#ccc;opacity:0.5}
 .alo-phone.alo-gray .alo-ph-circle{border-color:#141414;opacity:0.5}
 .alo-ph-circle-fill{-webkit-animation:2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim;animation:2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim;background-color:#000;border:2px solid transparent;border-radius:100%;height:100px;left:30px;opacity:0.1;position:absolute;top:0;-webkit-transform-origin:50% 50% 0;transform-origin:50% 50% 0;-webkit-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s;width:100px}
 .alo-phone.alo-active .alo-ph-circle-fill{-webkit-animation:1.7s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;animation:1.7s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important}
 .alo-phone.alo-static .alo-ph-circle-fill{-webkit-animation:2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;animation:2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;opacity:0 !important}
 .alo-phone.alo-hover .alo-ph-circle-fill,.alo-phone:hover .alo-ph-circle-fill{background-color:rgba(233,59,53,0.5);opacity:0.75 !important}
 .alo-phone.alo-green.alo-hover .alo-ph-circle-fill,.alo-phone.alo-green:hover .alo-ph-circle-fill{background-color:rgba(0,0,8,0.5);opacity:0.75 !important}
 .alo-phone.alo-green .alo-ph-circle-fill{background-color:rgba(233,59,53,0.5);opacity:0.75 !important}
 .alo-phone.alo-gray.alo-hover .alo-ph-circle-fill,.alo-phone.alo-gray:hover .alo-ph-circle-fill{background-color:rgba(20,20,20,0.5);opacity:0.75 !important}
 .alo-phone.alo-gray .alo-ph-circle-fill{background-color:rgba(0,0,8,0.5);opacity:0.75 !important}
 .alo-ph-img-circle{-webkit-animation:1s ease-in-out 0s normal none infinite running alo-circle-img-anim;animation:1s ease-in-out 0s normal none infinite running alo-circle-img-anim;border:2px solid transparent;color:#fff;font-size:2.25rem;line-height:60px;text-align:center;border-radius:100%;height:60px;left:50px;opacity:0.7;position:absolute;top:20px;-webkit-transform-origin:50% 50% 0;transform-origin:50% 50% 0;width:60px}
 .alo-ph-text{background-color: #d2243d;color:#fff;border-radius:4px;padding: 0px 5px;bottom:30px;display:block;font-size:.875rem;margin-right:-50px;position:absolute;left:20%;text-align:center;text-transform:uppercase;width:100px;font-size: 20px;}
 .alo-phone.alo-active .alo-ph-img-circle{-webkit-animation:1s ease-in-out 0s normal none infinite running alo-circle-img-anim !important;animation:1s ease-in-out 0s normal none infinite running alo-circle-img-anim !important}
 .alo-phone.alo-static .alo-ph-img-circle{-webkit-animation:0s ease-in-out 0s normal none infinite running alo-circle-img-anim !important;animation:0s ease-in-out 0s normal none infinite running alo-circle-img-anim !important}
 .alo-phone.alo-hover .alo-ph-img-circle,.alo-phone:hover .alo-ph-img-circle{background-color:#cd3121}
 .alo-phone.alo-green.alo-hover .alo-ph-img-circle,.alo-phone.alo-green:hover .alo-ph-img-circle{background-color:#141414}
 .alo-phone.alo-green .alo-ph-img-circle{background-color: #d42b3e;}
 .alo-phone.alo-gray.alo-hover .alo-ph-img-circle,.alo-phone.alo-gray:hover .alo-ph-img-circle{background-color:#ccc}
 .alo-phone.alo-gray .alo-ph-img-circle{background-color:#141414}
 .bg-eee{padding-bottom:20px;margin-bottom: 20px;font-size: 15px;}
 .bg-eee .row{margin:0px;background: #f5f5f5;}
 .bg-eee .row:last-child{padding-bottom:30px;}
 .bg-eee .title{background:#46be8a;color:#fff;margin:0px -15px 15px -15px;padding:15px 15px;}
 .panel-title i{margin-right:10px;}
 .panel-body{font-size:15px;line-height:25px;}
@-webkit-keyframes alo-circle-anim{0%{opacity:0.1;-webkit-transform:rotate(0deg) scale(0.5) skew(1deg);transform:rotate(0deg) scale(0.5) skew(1deg)}30%{opacity:0.5;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}100%{opacity:0.6;-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}@keyframes alo-circle-anim{0%{opacity:0.1;-webkit-transform:rotate(0deg) scale(0.5) skew(1deg);transform:rotate(0deg) scale(0.5) skew(1deg)}30%{opacity:0.5;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}100%{opacity:0.6;-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}@-webkit-keyframes alo-circle-fill-anim{0%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}50%{opacity:0.2}100%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}}@keyframes alo-circle-fill-anim{0%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}50%{opacity:0.2}100%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}}@-webkit-keyframes alo-circle-img-anim{0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}@keyframes alo-circle-img-anim{0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%, 0px, 0px);transform:translate3d(100%, 0px, 0px)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%, 0px, 0px);transform:translate3d(100%, 0px, 0px)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%, 0px, 0px);transform:translate3d(100%, 0px, 0px)}}@keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%, 0px, 0px);transform:translate3d(100%, 0px, 0px)}}@keyframes alo-circle-anim{0%{opacity:0.1;-webkit-transform:rotate(0deg) scale(0.5) skew(1deg);transform:rotate(0deg) scale(0.5) skew(1deg)}30%{opacity:0.5;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}100%{opacity:0.1;-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}@keyframes alo-circle-anim{0%{opacity:0.1;-webkit-transform:rotate(0deg) scale(0.5) skew(1deg);transform:rotate(0deg) scale(0.5) skew(1deg)}30%{opacity:0.5;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}100%{opacity:0.1;-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}@keyframes alo-circle-fill-anim{0%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}50%{opacity:0.2;-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}100%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}}@keyframes alo-circle-fill-anim{0%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}50%{opacity:0.2;-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}100%{opacity:0.2;-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);transform:rotate(0deg) scale(0.7) skew(1deg)}}@keyframes alo-circle-img-anim{0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}@keyframes alo-circle-img-anim{0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);transform:rotate(0deg) scale(1) skew(1deg)}}

@media (max-width: 1024px){
  .menu-header ul li a{padding: 6px 12px;font-size: 13px;}
  .luckydraw-page .container{width:auto;}
  .luckydraw-page .draw .wheel .gra-relative{right: 0px;}
  .luckydraw-page .draw .wheel .gra{right:0px;}
  .luckydraw-page .rule-box{width:100%}
  .information_prize .containner{width:100%;}
  .luckydraw-page h2.title{background-size: 755px;margin-top: 80px;}
}

@media (max-width: 768px){
  .bg-event{padding-top:50px;}
  .bg-event li{text-align:justify;}
  #openmenu:checked ~ .menu-box{transform: translate(0px,0px);opacity:1;}
  .slider{margin-top:106px;}
  .menu-box{position: absolute;display: block !important;background: #a00b34;top: 100%;bottom: 0px;left: -200%;right: 0px;z-index: 2;height:1000px;transition: all 0.8s;transform: translate(400%,0px);opacity:0;}
  .menu-header ul.menu-box{padding-top: 15px;margin-right: -15px;padding-right: 15px;}
  .menu-header ul.menu-box li a{color:#fff;border-bottom: 1px solid #a92c4e;border-radius: 0px;}
  .menu-header ul.menu-box li{display:block;line-height:20px;padding:0px;}
  .menu-header ul li a{padding:6px 15px;font-size: 14px;}
  .menu-header ul li a:last-child{padding:6px 15px;}
  .menu-header ul.menu-box li:last-child{padding:0px;}
  .header{position:fixed;top:0px;left:0px;width:100%;z-index: 999;font-size:10px;text-align:left !important;height:30px;}
  .menu-header{position:fixed;top:30px;z-index: 999;height:75px;padding: 10px 15px 10px 15px;width: 100%;}
  .menu-header .img-responsive{height:60px;max-width: initial;}
  .bg-event .title-event-regis{background:url(../images/register/title.png) 50% -40px no-repeat;height:240px;position:relative;background-size:700px}
  .bg-event .container > .row{padding-top: 40px;margin-top: -42px;text-align:center;}
}

@media (max-width: 479px){
  #openmenu:checked ~ .menu-box{transform: translate(0px,0px);opacity:1;}
  .slider{margin-top:106px;}
  .menu-box{position: absolute;display: block !important;background: #a00b34;top: 100%;bottom: 0px;left: -200%;right: 0px;z-index: 2;height:1000px;transition: all 0.8s;transform: translate(400%,0px);opacity:0;}
  .menu-header ul.menu-box{padding-top: 15px;}
  .menu-header ul.menu-box li a{color:#fff;border-bottom: 1px solid #a92c4e;border-radius: 0px;}
  .menu-header ul.menu-box li{display:block;line-height:20px;padding:0px;}
  .menu-header ul li a{padding:6px 15px;}
  .menu-header ul li a:last-child{padding:6px 15px;}
  .menu-header ul.menu-box li:last-child{padding:0px;}
  .header{position:fixed;top:0px;left:0px;width:100%;z-index: 999;font-size:10px;text-align:left !important;height:30px;}
  .menu-header{position:fixed;top:30px;z-index: 999;height:75px;width: 100%;padding: 10px 0px;}
  .news_box .col-md-3{}
  .news_box .row .col-md-3:nth-child(2n+1){clear:both;}
  .menu-header ul{margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
  .bg-eee{margin-top:20px;}
  .btn-lg.btn-danger{width:100%;text-transform:uppercase;}
  .bg-event .title-event-regis{background:url(../images/register/title.png) 50% 22px no-repeat;height: 197px;position:relative;background-size:390px;}
  .bg-event .container > .row{padding-top: 30px;text-align:center;}
  .bg-event .container > .row h3{font-size:20px;}
  .luckydraw-page .draw{float:right;width: 100%;position: relative;margin-top: 50px;margin-bottom: 20px;}
  .luckydraw-page .draw .wheel{height: 330px;width:100%;float:right;background-size:contain;margin-bottom: 15px;}
  .luckydraw-page .draw .wheel .btn-start{position:absolute;background: transparent url("../images/luckydraw/btn.png") left top no-repeat;background-size: 85px;width: 88px;height:160px;text-align:center;top:50%;left:50%;margin-left: -55px;margin-top: -37px;z-index:100;}
  .luckydraw-page .draw .wheel .btn-start span{color:#fef071;font-size: 1.525rem;text-transform:uppercase;line-height: 90px;display:inline-block;animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
  .luckydraw-page .draw .wheel .gra{background:transparent url("../images/luckydraw/gra.png") left top no-repeat;width: 410px;height: 410px;display:block;position:absolute;right: 0px;top: -52px;z-index: 0;background-size: 433px;}
  .luckydraw-page .draw .wheel .gra-relative{background:transparent url("../images/luckydraw/gra-relative.png") left top no-repeat;background-size: 525px;width: 460px;height: 460px;display:block;position:absolute;right: 0px;top: -105px;z-index: 10;}
  .luckydraw-page .draw .wheel .gra-2{background: transparent url("../images/luckydraw/gra-2.png") left top no-repeat;display:block;width: 80px;height: 80px;position:absolute;left: -10px;top: 50%;margin-top: -25px;z-index:90;background-size: 65px;transform: rotate(90deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(90deg);animation-name: pulse;-webkit-animation-name: pulse;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
  canvas{width:360px;}
  .luckydraw-page .rule-box{width:100%;}
  .information_prize h3.title span{width:auto;}
  .luckydraw-page h2.title{background-size: 390px;height: 170px;margin-top: 100px;}
  .information_prize .containner{width:100%;padding-bottom:100px;}
}

@media (max-width: 375px){
  .bg-event .title-event-regis{background:url(../images/register/title.png) 50% 35px no-repeat;height: 196px;position:relative;background-size:350px;}
  .bg-event .container > .row{padding-top:30px;text-align:center}
  .menu-header ul{margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
}
